.feedback_widget{background-position: 0 -240px; width: 30px; height: 126px; position: fixed; right: 0; top: 390px; z-index: 1; cursor: pointer;}

.feedback_wdgtForm{position: fixed;width: 450px;z-index:9;box-shadow: 0 1px 10px rgba(0,0,0,0.5);top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 20px 40px; background: #fff;display: none;}
.feedback_wdgtForm .formHeadin{font-size: 13px;font-weight: 600;}
.feedback_wdgtForm label{vertical-align: top;margin-top:10px;display: inline-block;text-align: right;width: 100px;font-size: 11px;}
.feedback_wdgtForm .red {color: red;}
.feedback_wdgtForm label + div{display: inline-block;margin-top:10px;}
.feedback_wdgtForm textarea{width: 258px; height: 90px; overflow: hidden; margin-top: 2px; color: #999; font-size: 12px;}
.feedback_wdgtForm  .btn.blue { min-width: 120px;margin:15px 5px 0; text-align: center; background: #3498db; color: #fff; padding: 10px; border: 1px solid #3498db; cursor: pointer; -webkit-appearance: button; }
.dispBlck{display: block;}


.md_cross{cursor:pointer;width: 24px; height: 24px; position: absolute; top: 3px; right: 2px; background-position: -2px -454px;}


.feedbckThnkWrp{position: relative;text-align: center;}
.okayIcnGreen {position: absolute;height: 26px; width: 26px; background-color: #59CDB5;border-radius: 50%; margin-right: 20px;}
.okayIcnGreen:after { content: ""; border-left: 1px; border: 2px solid; border-color: transparent transparent #fff #fff; height: 4px; width: 10px; position: absolute; top: 44%; left: 50%; -webkit-transform: translate(-50%,-50%) rotate(-45deg); -moz-transform: translate(-50%,-50%) rotate(-45deg); -ms-transform: translate(-50%,-50%) rotate(-45deg); -o-transform: translate(-50%,-50%) rotate(-45deg); transform: translate(-50%,-50%) rotate(-45deg); }
.feedBckThankTxt{text-align: left;margin-left: 30px;font-size: 0.75rem;}
.feedBckThankTxt > span{color: #59CDB5;font-size: 0.875rem;}