body header {border-bottom:1px #000 solid; background:#171747; width:100%; color:#fff;}
body header #logo {float:left; margin:10px 0 7px 17px;}

body header #buyRentDD {float:left; font-size:14px; margin:15px 0 0 31px; cursor:pointer;}
body header #buyRentDD span {margin-right:8px;}

body header .iconSet {float:right; min-width:200px;}
body header .iconSet li {float:right;}
body header .iconSet li a {color:#fff; text-align:center; font-size:11px; display:block; padding:9px 3px 7px 3px;}
body header .iconSet li:first-child span {min-width:40px;}
body header .iconSet li a i {width:24px; height:24px;}
body header .iconSet li a span {display:block; margin-top:-4px;}
body header .iconSet li:hover {background:red;}

body header .loanIcon {background-position:-199px -276px;}
body header .dashboardIcon {background-position:0 -62px;}
body header .menuIcon {background-position:3px -99px;}
body header .logoIcon {width:134px; height:35px; background-position:0 -59px; float:left;}