.text-group input[type="text"] { 
  background-color:white;
  border-radius:0;
  font-weight:400;
  width:100%;
}

@media (min-width:320px) and (max-width:760px) {
  .text-group input[type="text"] {
    padding:10px 0 8px 0;
    display:block;
    border:none;
    border-bottom:1px solid #c9c9c9;
    color:#656d78;
    box-shadow:none;
    font-size:16px;
  }
}

@media (min-width:761px) {
  .text-group input[type="text"] {
    padding:10px;
    border:1px #cdd4dc solid;
    color:#555;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size:13px;
  }
  .text-group input[type="text"]:focus {
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
  .text-group.errorField input[type="text"] {
    border-color:red;
    background-color:transparent;
  }
}