#factTable li .head {font-weight:400;}
#factTable li .details {font-weight:600;}

@media (min-width:320px) and (max-width:760px) {
  #factTable li {color:#666; padding:.9375rem .3rem; width:50%; display:inline-block; border-width:1px 0; position:relative;}
  #factTable li:nth-child(odd):before {content:''; display:block; height:80%; top:10%; background-color:#e9ecef; right:0; width:1px; position:absolute;}
  #factTable li:nth-child(1) .details, #factTable li:nth-child(2) .details, #factTable li:nth-child(1) .head, #factTable li:nth-child(2) .head {margin-left:4px;}
  #factTable li:nth-child(3), #factTable li:nth-child(4), #factTable li:nth-child(7), #factTable li:nth-child(8), #factTable li:nth-child(11), #factTable li:nth-child(12) {background-color:#f7f8fa;}
  #factTable li i {position:absolute; left:5px; margin-top:3px;}
  #factTable li .head {font-size:.62rem; margin-left:24px;}
  #factTable li .details {font-size:.7rem; margin-left:24px;}
  #factTable li .details span {display:none;}
  #factTable li .details span.secondPart {display:block; font-size:11px; font-weight:600;}
}
@media (min-width:761px) {
  #factTable {margin-left:442px; display:block;}
  #factTable li {width:49.75%; padding:10px 30px 14px; background-color:#FAFBFC; display:inline-block; margin-bottom:2px;}
  #factTable li i {margin-bottom:-4px;}
  #factTable li .head {font-size:14px; color:#999;}
  #factTable li .details {margin-top:2px; font-size:14px; line-height:20px; color:#333; min-height:22px;}
}