@media (min-width:320px) and (max-width:760px) {
  #dealerCard .pdDescription {font-size:.75rem; margin:.625rem 0; color:#333; white-space:pre-line; overflow:hidden;}
  #dealerCard img.dealerPic {width:50px; height:50px; margin-bottom:5px;}
  #dealerCard .primaryInfo {margin-left:60px; font-size:.875rem;}
  #dealerCard .primaryInfo a {font-weight:700; color:#666;}
  #dealerCard .primaryInfo a span {font-size:.75rem; font-weight:400;}
  #dealerCard .infoSet {margin-top:3px; color:#333; font-size:.75rem; font-weight:600;}
  #dealerCard .infoSet.about {font-size:.875rem; padding-bottom:6px; border-bottom:solid 1px #e9ecef; font-weight:normal;}
  #dealerCard .infoSet a {color:#3496d9;}
}

@media (min-width:761px) {  
  #dealerCard {float:left; width:470px; padding-right:60px; padding-bottom:20px;}
  #dealerCard img.dealerPic {width:140px; height:138px; margin-bottom:10px;}
  #dealerCard .primaryInfo {margin-left:170px;}
  #dealerCard a {color:#3498db;}
  #dealerCard .primaryInfo .btn99 {margin-top:58px;}
  #dealerCard .primaryInfo a {font-size:16px; font-weight:600;} 
  #dealerCard .primaryInfo .company {font-size:12px; font-weight:400; color:#999;}
  #dealerCard .infoSet {margin-top:8px; color:#333; line-height:180%;}
  #dealerCard .propInfo a {width:200px; display:inline-block;}
  #dealerCard .propInfo span {color:#3498db; font-size:18px; margin-left:10px;}
}