body header {border-bottom:1px #000 solid; background:#171747; width:100%; color:#fff;}
body header #logo {float:left; margin:10px 0 7px 17px;}

body header #buyRentDD {float:left; font-size:14px; margin:15px 0 0 31px; cursor:pointer;}
body header #buyRentDD span {margin-right:8px;}

body header .iconSet {float:right; min-width:200px;}
body header .iconSet li {float:right;}
body header .iconSet li a {color:#fff; text-align:center; font-size:11px; display:block; padding:9px 3px 7px 3px;}
body header .iconSet li:first-child span {min-width:40px;}
body header .iconSet li a i {width:24px; height:24px;}
body header .iconSet li a span {display:block; margin-top:-4px;}
body header .iconSet li:hover {background:red;}

body header .loanIcon {background-position:-199px -276px;}
body header .dashboardIcon {background-position:0 -62px;}
body header .menuIcon {background-position:3px -99px;}
body header .logoIcon {width:134px; height:35px; background-position:0 -59px; float:left;}
#factTable li .head {font-weight:400;}
#factTable li .details {font-weight:600;}

@media (min-width:320px) and (max-width:760px) {
  #factTable li {color:#666; padding:.9375rem .3rem; width:50%; display:inline-block; border-width:1px 0; position:relative;}
  #factTable li:nth-child(odd):before {content:''; display:block; height:80%; top:10%; background-color:#e9ecef; right:0; width:1px; position:absolute;}
  #factTable li:nth-child(1) .details, #factTable li:nth-child(2) .details, #factTable li:nth-child(1) .head, #factTable li:nth-child(2) .head {margin-left:4px;}
  #factTable li:nth-child(3), #factTable li:nth-child(4), #factTable li:nth-child(7), #factTable li:nth-child(8), #factTable li:nth-child(11), #factTable li:nth-child(12) {background-color:#f7f8fa;}
  #factTable li i {position:absolute; left:5px; margin-top:3px;}
  #factTable li .head {font-size:.62rem; margin-left:24px;}
  #factTable li .details {font-size:.7rem; margin-left:24px;}
  #factTable li .details span {display:none;}
  #factTable li .details span.secondPart {display:block; font-size:11px; font-weight:600;}
}
@media (min-width:761px) {
  #factTable {margin-left:442px; display:block;}
  #factTable li {width:49.75%; padding:10px 30px 14px; background-color:#FAFBFC; display:inline-block; margin-bottom:2px;}
  #factTable li i {margin-bottom:-4px;}
  #factTable li .head {font-size:14px; color:#999;}
  #factTable li .details {margin-top:2px; font-size:14px; line-height:20px; color:#333; min-height:22px;}
}
@media (min-width:320px) and (max-width:760px) {
  .pdBlock#additionalDetails ul {border:1px solid #e9ecef; margin-top:.625rem; font-weight:600; border-bottom:none;}
  .pdBlock#additionalDetails ul li {border-bottom:1px solid #e9ecef; font-size:.75rem;}
  .pdBlock#additionalDetails ul li span {padding:.6rem; word-break:break-word; display:inline-block; width:58%; color:#333; line-height:16px;}
  .pdBlock#additionalDetails ul li span:first-child {background:#f7f8fa; width:41%; font-weight:400; font-size:.625rem; color:initial;}
}

@media (min-width:761px) {
  .pdBlock#additionalDetails ul {line-height:200%;}
  .pdBlock#additionalDetails ul li {width:24%; height:30px; display:inline-block; color:#999; font-weight:400; position:relative;}
  .pdBlock#additionalDetails ul li span:last-of-type {font-weight:600; color:#333;}
  .pdBlock#additionalDetails ul li .propCodeUrl {font-size:11px; position:absolute; color:#333;}
}
@media (min-width:320px) and (max-width:760px) {
  .pdBlock#features ul {margin-top:.625rem; color:#666; font-weight:600;}
  .pdBlock#features ul li {width:30.65%; text-align:center; overflow:hidden; font-size:.75rem; background:#f7f8fa; display:inline-block; padding:20px 10px 10px 10px; margin-bottom:.7375rem;}
  .pdBlock#features ul li div {margin-top:.5rem; height:35px; line-height:12px; font-size:.625rem;}
  .pdBlock#features ul li:nth-child(3n+2) {margin-left:.75rem; margin-right:.75rem;}
}

@media (min-width:761px) {  
  .pdBlock#features ul li {width:16.666666%; display:inline-block; vertical-align:top; margin:15px 0;}
  .pdBlock#features ul li i {margin-right:8px; float:left; width:22px; height:22px;}
  .pdBlock#features ul li div {margin-left:29px; display:block; margin-top:-3px; padding-right:20px;}
}
@media (min-width:320px) and (max-width:760px) {
  #dealerCard .pdDescription {font-size:.75rem; margin:.625rem 0; color:#333; white-space:pre-line; overflow:hidden;}
  #dealerCard img.dealerPic {width:50px; height:50px; margin-bottom:5px;}
  #dealerCard .primaryInfo {margin-left:60px; font-size:.875rem;}
  #dealerCard .primaryInfo a {font-weight:700; color:#666;}
  #dealerCard .primaryInfo a span {font-size:.75rem; font-weight:400;}
  #dealerCard .infoSet {margin-top:3px; color:#333; font-size:.75rem; font-weight:600;}
  #dealerCard .infoSet.about {font-size:.875rem; padding-bottom:6px; border-bottom:solid 1px #e9ecef; font-weight:normal;}
  #dealerCard .infoSet a {color:#3496d9;}
}

@media (min-width:761px) {  
  #dealerCard {float:left; width:470px; padding-right:60px; padding-bottom:20px;}
  #dealerCard img.dealerPic {width:140px; height:138px; margin-bottom:10px;}
  #dealerCard .primaryInfo {margin-left:170px;}
  #dealerCard a {color:#3498db;}
  #dealerCard .primaryInfo .btn99 {margin-top:58px;}
  #dealerCard .primaryInfo a {font-size:16px; font-weight:600;} 
  #dealerCard .primaryInfo .company {font-size:12px; font-weight:400; color:#999;}
  #dealerCard .infoSet {margin-top:8px; color:#333; line-height:180%;}
  #dealerCard .propInfo a {width:200px; display:inline-block;}
  #dealerCard .propInfo span {color:#3498db; font-size:18px; margin-left:10px;}
}
#otherLinks .block {padding:25px 0 12px; border-bottom:1px solid #ccd1d9;}
#otherLinks .block:last-child {border:none;}
#otherLinks .block .heading {padding-bottom:4px;}
#otherLinks .block ul {font-size:13px; margin:0 25px;}
#otherLinks .block ul li {width:24%; display:inline-block; line-height:22px;}
#askAnswer h6 {font-size:18px; padding:50px 0 14px;}
#askAnswer .block .heading {font-size:14px; padding:10px 0; font-weight:600;}
#askAnswer .block ul li {font-size:14px; padding-bottom:6px; padding-left:34px; margin:8px 0; background: no-repeat 0 3px;}
#askAnswer .block ul li .location {margin:5px 0; font-size:11px;}
#askAnswer .block ul li a {font-size:12px; color:#3498db; font-weight:600;}
#askAnswer .block .moreQuestions {font-weight:400; font-size:14px; color:#3498db;}
#askAnswer .block .blueSubmit {height:40px;}
#askAnswer textarea {width:635px; height:22px; padding-top:10px;}
#askAnswer .btn {margin-left:16px;}
@media (min-width:761px) {
  #footer i.naukri {background-position:-60px 0; width:117px; height:17px;}
  #footer .android {background-position:-168px -120px;}
  #footer .ios {background-position:-288px -120px;}
  #footer .fb {background-position:0px -120px;}
  #footer .tw {background-position:-42px -120px;}
  #footer .yt {background-position:-84px -120px;}
  #footer .gm {background-position:-126px -120px;}

  #footer {background:#444; padding-top:50px;}
  #footer .blueFont {color:#589bff;}
  #footer .wrap {max-width:1196px; margin:0 auto; color:#ddd; font-size:12px;}
  #footer .wrap .description {color:#8a8a8a; padding-bottom:5px; text-align:center; margin-top:10px;}
  #footer .bar {background:#383838; color:#a1a1a1; text-align:center; padding:7px 0 2px 0;}

  #footer .column {width:240px; float:left; margin:0 45px 0 0; }
  #footer .column .title {font-size:16px; font-weight:600; color:#ddd; padding-bottom:20px; line-height:25px;}
  #footer .column ul {float:left; width:100%;}
  #footer .column ul li {padding-bottom:10px; display:block; float:left; line-height:15px; width:100%;}
  #footer .column ul li a {color:#ddd; transition:all .1s ease-in-out;}
  #footer .column ul li a:hover {color:white; font-weight:600;}

  #footer .column.col1 li {width:120px;}
  #footer .col2, #footer .col3, #footer .col4 {width:150px;}
  #footer .col5 {width:320px; margin:0;}
  #footer .col5 a {color:#589bff;}
  #footer .col5 .connect {margin:20px 0 30px 0;}
  #footer .col5 .connect a.uiSprite {margin:0px 10px 10px 0; width:40px; height:40px; display:inline-block;}
  #footer .col5 .apps .title {padding-bottom:7px;}
  #footer .col5 .apps a {width:118px; height:38px; display:inline-block; margin-right:5px;}
}
.text-group input[type="text"] { 
  background-color:white;
  border-radius:0;
  font-weight:400;
  width:100%;
}

@media (min-width:320px) and (max-width:760px) {
  .text-group input[type="text"] {
    padding:10px 0 8px 0;
    display:block;
    border:none;
    border-bottom:1px solid #c9c9c9;
    color:#656d78;
    box-shadow:none;
    font-size:16px;
  }
}

@media (min-width:761px) {
  .text-group input[type="text"] {
    padding:10px;
    border:1px #cdd4dc solid;
    color:#555;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size:13px;
  }
  .text-group input[type="text"]:focus {
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
  .text-group.errorField input[type="text"] {
    border-color:red;
    background-color:transparent;
  }
}
.radio-group > div > div {display:inline-block;}
.radio-group input[type="radio"]
, .radio-group input[type="checkbox"] {display:none;}

.radio-group input[type="radio"] + label span {
  box-shadow:0 0 0 1px;
  display:inline-block; 
  margin:-1px 7px 0 0;
  vertical-align:middle; 
  border-radius:50%;
  border:8px solid white;
  background-color:yellow;
} 
.radio-group input[type="radio"]:checked + label span {
  background-color:#46cdb2;
}

.radio-group input[type="checkbox"] + label span {
  margin-right:5px;
} 
.radio-group input[type="radio"]:checked + label span {
  background-color:#46cdb2;
}

@media (min-width:320px) and (max-width:760px) {
  .radio-group input[type="radio"] + label span {width:22px; height:22px;}
}
@media (min-width:761px) {
  .radio-group input[type="radio"] + label {cursor:pointer;}
  .radio-group input[type="radio"] + label span {width:16px; height:16px; box-shadow:0 0 0 1px #cdd4dc;}
  .radio-group input[type="radio"] + label:hover span {box-shadow:0 0 0 1px #999;}
}
.textarea-group {}
.textarea-group textarea {padding:10px; border:1px #cdd4dc solid; width:100%;}
.textarea-group .charLimit {font-size:11px; color:#5e5e5e; text-align:right; margin-top:3px;}

@media (min-width:320px) and (max-width:760px) {
  .textarea-group {}
}
@media (min-width:761px) {
  .textarea-group {}
  .textarea-group textarea {font-size:13px;}
}
#enquiryForm .radio-group > div > div {margin-left:25px;}

@media (min-width:320px) and (max-width:760px) {
}

@media (min-width:761px) { 
  #enquiryForm {font-size:14px; color:#666;}
  #enquiryForm .radio-group {margin:0 0 15px 0;}
  #enquiryForm .inputSet {width:300px; vertical-align:top; display:inline-block;}
  #enquiryForm .inputSet .text-group {margin:15px 0 0;}
  #enquiryForm .inputSet .text-group input {height:40px;}
  #enquiryForm .inputSet .text-group:first-child {margin-top: 0;}
  #enquiryForm .textarea-group {margin-left:20px; display:inline-block; vertical-align:top; width:250px;}
  #enquiryForm textarea {height:148px;}
}
@media (min-width:320px) and (max-width:760px) {
  #footer {background:#fff; text-align:center; font-size:.625rem;}
  #footer .footer-links {box-shadow:0 3px 3px 1px rgba(0,0,0,.05); padding:10px 0;}
  #footer .footer-links a {color:#16a085; text-decoration:none; display:inline-block; margin-right:5px;}
  #footer .footer-links a:after {display:inline-block; content:"."; width:1px; height:1px; margin:0 2px 0 5px;}
  #footer .footer-links a:last-child {margin:0;}
  #footer .footer-links a:last-child:after {display:none;}
  #footer .footer-groupInfo {color:#16a085; margin-top:10px; font-weight:600;}
  #footer .footer-copyright {color:#666; margin-top:10px; font-style:italic; padding-bottom:50px;}  
}
* {box-sizing:border-box;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
input {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height:normal;
  outline:0;
} 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}
nav ul {
  list-style:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
input, select {
  vertical-align:middle;
}
@font-face {
  font-family:'Open Sans'; src:url(/fonts/opensans-regular-webfont.eot); font-weight:400; font-style:normal;
  src:url(/fonts/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/opensans-regular-webfont.woff) format('woff'),url(/fonts/opensans-regular-webfont.ttf) format('truetype'),url(/fonts/opensans-regular-webfont.svg#open_sansregular) format('svg');}
@font-face {
  font-family:'Open Sans'; src:url(/fonts/opensans-semibold-webfont.eot); font-weight:600; font-style:normal;
  src:url(/fonts/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/opensans-semibold-webfont.woff) format('woff'),url(/fonts/opensans-semibold-webfont.ttf) format('truetype'),url(/fonts/opensans-semibold-webfont.svg#open_sanssemibold) format('svg');}
@font-face {
  font-family:'Open Sans'; src:url(/fonts/opensans-bold-webfont.eot); font-weight:700; font-style:normal;
  src:url(/fonts/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/opensans-bold-webfont.woff) format('woff'),url(/fonts/opensans-bold-webfont.ttf) format('truetype'),url(/fonts/opensans-bold-webfont.svg#open_sansbold) format('svg');}
@font-face {
  font-family:WebRupee; src:url(/fonts/WebRupee.V2.0.eot); font-weight:normal; font-style:normal;
  src:local('../fonts/WebRupee'),url(/fonts/WebRupee.V2.0.ttf) format('truetype'),url(/fonts/WebRupee.V2.0.woff) format('woff'),url(/fonts/WebRupee.V2.0.svg) format('svg');}

.WebRupee {font-family:WebRupee;}
html > body .WebRupee {margin-right:2px;}

* {font-family:'Open Sans', Arial, Helvetica, sans-serif;}
a, a:link {text-decoration:none;}
i {display:inline-block;}

.fL {float:left;}
.fR {float:right;}
.clr {clear:both;}
.clrAftr {content:''; display:table; clear:both;}
.vmid {vertical-align:middle;}

.sBold {font-weight:600;}
.bold {font-weight:700;}
.listNone {list-style-type:none;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}

.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}

.lightGrey {color:#999;}
.grey {color:#666;}
.darkGrey {color:#333;}

body, td {font-size:11px;}
input[type=submit], input[type=button] {-webkit-appearance:none;}
textarea {resize:none;}

.uiSprite {background-image:url('https://static.99acres.com/images/ui_sprite_home-v22.png'); background-repeat:no-repeat;}
.iconS {background-image:url('https://static.99acres.com/images/dif-sprite-new-v16.png'); background-repeat:no-repeat;}
.notifySprite {background-image:url('https://static.99acres.com/images/buyerDashboard/buyerDashboard_v1.png'); background-repeat:no-repeat; background-size:220px 86px;}

.downArrow {background-position:-136px -176px; width:12px; height:7px;}

textarea {padding:7px 6px; border:1px solid #ccc; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.btn {text-decoration:none; border-width:0 0 2px 0; border-style:solid; display:inline-block; cursor:pointer; text-align:center; min-width:120px;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	box-shadow:0 0 3px 1px rgba(0,0,0,.05);
	transition:all .2s ease-in;}
	
.grayFont {color:#707070;}
.blueSubmit {background:#3498db; color:#fff; border-color:#3498db; border-bottom-color:#2980b9;}
.blueSubmit:active, .btn.blue:active {background:#2980b9; border-color:#2980b9;}
.blueSubmit:hover, .btn.blue:focus, .btn.blue:hover {background:#4ba7e4; border-color:#4ba7e4; border-bottom-color:#2980b9;}

.amnIcons, .iconPd {background-repeat:no-repeat;}

@media (min-width:761px) {
  body, td {font-size:14px;}

  .contentWrap > div:nth-child(even) {background-color:#F5F7FA;}
  .amnIcons {background-image:url('https://static.99acres.com/images/mapsearch/mapAmn5.1.png'); background-size:334px 334px;}
  .iconPd {background-image:url('https://static.99acres.com/images/pd_widgets/PD_iconsprite-v3.7.png'); background-size:318px 318px;}

  i.iconPd {width:24px; height:24px;}
  i.iconPd.info {margin-bottom:-7px; background-position:0 -26px; cursor:pointer;}

  .lf {background-position:-48px -24px;}
  .fs {background-position:-216px 0;}
  .fa {background-position:-192px 0;}
  .if {background-position:-240px 0;}
  .pk {background-position:-312px -24px;}
  .ms {background-position:-72px -48px;}
  .vp {background-position:-264px -24px;}
  .ws {background-position:-120px -72px;}

  .areaIcon {background-position:-26px -130px;}
  .configIcon {background-position:-130px 0;}
  .priceIcon {background-position:-104px 0;}
  .addressIcon {background-position:-26px -157px;}
  .floorIcon {background-position:-27px -182px;}
  .directionIcon {background-position:0 -182px;}
  .overlookingIcon {background-position:-52px -155px;}
  .possessionIcon {background-position:-156px 0;}

  .btn99 {transition:border-color 150ms; font-weight:600; min-width:80px; max-width:176px; text-align:center; background-color:transparent; text-decoration:none; display:inline-block; vertical-align:middle; cursor:pointer; box-shadow:none; border:1px solid #000; font-size:14px; padding:10px 15px 6px; border-bottom-width:4px; border-top-width:1px;}
  .btnTurqLight {background-color:#59cdb5; border-color:#59cdb5; color:#fff;}

  .contentInnerWrap {margin:0 auto;}

  .navWrapper {padding:7px 0 0 0; font-size:12px;}
  .navWrapper .breadCrumb {color:#999;}
  .navWrapper .breadCrumb a {color:#999}
  .navWrapper .breadCrumb span.rPin {padding-left:6px; color:#7b7b7b; padding-right:2px; font-size:14px;}
  .navWrapper .info {color:#666; font-weight:600;}
  .navWrapper .info span {display:inline-block; line-height:13px;}
  .navWrapper .info span.pdPropDate {border-right:solid 1px #999; margin-right:10px; padding-right:10px;}

  #tabs li {margin-right:25px; display:inline-block; cursor:pointer; text-align:center; padding:16px 15px 16px 15px;}
  #tabs li:hover {color:#39c; font-weight:700;}
  #tabs li.sel {color:#39c; position:relative; font-weight:700;}
  #tabs li.sel:after {background-color:#39c; content:''; position:absolute; width:100%; left:0; bottom:0; height:3px;}

  #galleryFact {padding:50px 0 24px 0;}
  #galleryFact~.pdBlock {padding:27px 0; border-top:1px solid #ccd1d9; color:#666;}
  #galleryFact~.pdBlock h2 {padding-bottom:12px; font-size:16px; font-weight:600;}
  #galleryFact~.pdBlock .pdDescription {line-height:149%; overflow:hidden;}

  #dealerInfo {padding-top:50px;}
  #dealerInfo .heading, #dealerInfo h5 {font-size:18px; font-weight:600; margin-bottom:24px;} 
  #dealerInfo #enquiryForm {width:700px; padding:0 0 25px 0px;}
}

@media (min-width:320px) and (max-width:760px) {
  .amnIcons, .iconPd {background-image:url('https://www.99acres.com/pwa/public/images/pd_sprite-v2.png'); background-size:360px 360px;}

  i.amnIcons {width:24px; height:24px;}
  i.iconPd {background-size:270px 270px; width:18px; height:18px;}

  .lf {background-position:-72px -24px;}
  .fs {background-position:-48px -24px;}
  .fa {background-position:-240px -72px;}
  .if {background-position:-336px 0;}
  .pk {background-position:-168px -24px;}
  .ms {background-position:-192px -24px;}
  .vp {background-position:-144px -24px;}
  .ws {background-position:-120px -24px;}
  .pb {background-position:-216px -72px;}

  .areaIcon {background-position:0 0;}
  .configIcon {background-position:-36px 0;}
  .priceIcon {background-position:-18px 0;}
  .addressIcon {background-position:-72px 0;}
  .floorIcon {background-position:-144px 0;}
  .directionIcon {background-position:-108px -90px;}
  .overlookingIcon {background-position:-52px -157px;}
  .possessionIcon {background-position:-54px -72px;}
  .typeIcon {background-position:-54px 0;}
  .parkingIcon {background-position:-54px -54px;}  
  .ageIcon {background-position:0 -90px;}

  .pdBlock {margin-bottom:1rem; background-color:#fff; padding:.625rem; margin:0 0 20px;
      box-shadow: 0 32px 32px 0 rgba(48,48,77,.05), 0 16px 16px 0 rgba(48,48,77,.05), 0 8px 8px 0 rgba(48,48,77,.05), 0 4px 4px 0 rgba(48,48,77,.05), 0 2px 2px 0 rgba(48,48,77,.05);}
  .pdBlock h2 {font-size:.9rem; padding:.625rem .3125rem .3125rem 0; color:#999; font-weight:600;}
}


@media screen and (min-width: 1050px) {
	.contentInnerWrap {width:1170px;}	
}
@media screen and (min-width: 761px) and (max-width: 1049px) {
	.contentInnerWrap {width:970px;}	
}
