<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title></title>  
  <script src="<%- assetsPath %>js/vendorBundle.js" defer></script>
  <script src="<%- assetsPath %>js/pdBundle.js" defer></script>
  <script>window.__initialData__ = <%- pageData.initialState %></script>

  <link href="<%- assetsPath %>css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="app"><%- pageData.markup %></div>
</body>
</html>
