input[type=submit], input[type=button] {-webkit-appearance:none;}
textarea {resize:none;}

.uiSprite {background-image:url('https://static.99acres.com/images/ui_sprite_home-v22.png'); background-repeat:no-repeat;}
.iconS {background-image:url('https://static.99acres.com/images/dif-sprite-new-v16.png'); background-repeat:no-repeat;}
.notifySprite {background-image:url('https://static.99acres.com/images/buyerDashboard/buyerDashboard_v1.png'); background-repeat:no-repeat; background-size:220px 86px;}

.downArrow {background-position:-136px -176px; width:12px; height:7px;}

textarea {padding:7px 6px; border:1px solid #ccc; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.btn {text-decoration:none; border-width:0 0 2px 0; border-style:solid; display:inline-block; cursor:pointer; text-align:center; min-width:120px;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	box-shadow:0 0 3px 1px rgba(0,0,0,.05);
	transition:all .2s ease-in;}
	
.grayFont {color:#707070;}
.blueSubmit {background:#3498db; color:#fff; border-color:#3498db; border-bottom-color:#2980b9;}
.blueSubmit:active, .btn.blue:active {background:#2980b9; border-color:#2980b9;}
.blueSubmit:hover, .btn.blue:focus, .btn.blue:hover {background:#4ba7e4; border-color:#4ba7e4; border-bottom-color:#2980b9;}
