@font-face {
  font-family:'Open Sans'; src:url(../fonts/opensans-regular-webfont.eot); font-weight:400; font-style:normal;
  src:url(../fonts/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/opensans-regular-webfont.woff) format('woff'),url(../fonts/opensans-regular-webfont.ttf) format('truetype'),url(../fonts/opensans-regular-webfont.svg#open_sansregular) format('svg');}
@font-face {
  font-family:'Open Sans'; src:url(../fonts/opensans-semibold-webfont.eot); font-weight:600; font-style:normal;
  src:url(../fonts/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/opensans-semibold-webfont.woff) format('woff'),url(../fonts/opensans-semibold-webfont.ttf) format('truetype'),url(../fonts/opensans-semibold-webfont.svg#open_sanssemibold) format('svg');}
@font-face {
  font-family:'Open Sans'; src:url(../fonts/opensans-bold-webfont.eot); font-weight:700; font-style:normal;
  src:url(../fonts/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/opensans-bold-webfont.woff) format('woff'),url(../fonts/opensans-bold-webfont.ttf) format('truetype'),url(../fonts/opensans-bold-webfont.svg#open_sansbold) format('svg');}
@font-face {
  font-family:WebRupee; src:url(../fonts/WebRupee.V2.0.eot); font-weight:normal; font-style:normal;
  src:local('../fonts/WebRupee'),url(../fonts/WebRupee.V2.0.ttf) format('truetype'),url(../fonts/WebRupee.V2.0.woff) format('woff'),url(../fonts/WebRupee.V2.0.svg) format('svg');}

.WebRupee {font-family:WebRupee;}
html > body .WebRupee {margin-right:2px;}

* {font-family:'Open Sans', Arial, Helvetica, sans-serif;}
a, a:link {text-decoration:none;}
i {display:inline-block;}

.fL {float:left;}
.fR {float:right;}
.clr {clear:both;}
.clrAftr {content:''; display:table; clear:both;}
.vmid {vertical-align:middle;}

.sBold {font-weight:600;}
.bold {font-weight:700;}
.listNone {list-style-type:none;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}

.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}

.lightGrey {color:#999;}
.grey {color:#666;}
.darkGrey {color:#333;}

body, td {font-size:11px;}