.amnIcons, .iconPd {background-repeat:no-repeat;}

@media (min-width:761px) {
  body, td {font-size:14px;}

  .contentWrap > div:nth-child(even) {background-color:#F5F7FA;}
  .amnIcons {background-image:url('https://static.99acres.com/images/mapsearch/mapAmn5.1.png'); background-size:334px 334px;}
  .iconPd {background-image:url('https://static.99acres.com/images/pd_widgets/PD_iconsprite-v3.7.png'); background-size:318px 318px;}

  i.iconPd {width:24px; height:24px;}
  i.iconPd.info {margin-bottom:-7px; background-position:0 -26px; cursor:pointer;}
/*
  .lf {background-position:-48px -24px;}*/
  .fs {background-position:-216px 0;}
  .fa {background-position:-192px 0;}
  .if {background-position:-240px 0;}
  .pk {background-position:-312px -24px;}
  .ms {background-position:-72px -48px;}
  .vp {background-position:-264px -24px;}
  .ws {background-position:-120px -72px;}

  .areaIcon {background-position:-26px -130px;}
  .configIcon {background-position:-130px 0;}
  .priceIcon {background-position:-104px 0;}
  .addressIcon {background-position:-26px -157px;}
  .floorIcon {background-position:-27px -182px;}
  .directionIcon {background-position:0 -182px;}
  .overlookingIcon {background-position:-52px -155px;}
  .possessionIcon {background-position:-156px 0;}

  .btn99 {transition:border-color 150ms; font-weight:600; min-width:80px; max-width:176px; text-align:center; background-color:transparent; text-decoration:none; display:inline-block; vertical-align:middle; cursor:pointer; box-shadow:none; border:1px solid #000; font-size:14px; padding:10px 15px 6px; border-bottom-width:4px; border-top-width:1px;}
  .btnTurqLight {background-color:#59cdb5; border-color:#59cdb5; color:#fff;}

  .contentInnerWrap {margin:0 auto;}

  .navWrapper {padding:7px 0 0 0; font-size:12px;}
  .navWrapper .breadCrumb {color:#999;}
  .navWrapper .breadCrumb a {color:#999}
  .navWrapper .breadCrumb span.rPin {padding-left:6px; color:#7b7b7b; padding-right:2px; font-size:14px;}
  .navWrapper .info {color:#666; font-weight:600;}
  .navWrapper .info span {display:inline-block; line-height:13px;}
  .navWrapper .info span.pdPropDate {border-right:solid 1px #999; margin-right:10px; padding-right:10px;}

  #tabs li {margin-right:25px; display:inline-block; cursor:pointer; text-align:center; padding:16px 15px 16px 15px;}
  #tabs li:hover {color:#39c; font-weight:700;}
  #tabs li.sel {color:#39c; position:relative; font-weight:700;}
  #tabs li.sel:after {background-color:#39c; content:''; position:absolute; width:100%; left:0; bottom:0; height:3px;}

  #galleryFact {padding:50px 0 24px 0;}
  #galleryFact~.pdBlock {padding:27px 0; border-top:1px solid #ccd1d9; color:#666;}
  #galleryFact~.pdBlock h2 {padding-bottom:12px; font-size:16px; font-weight:600;}
  #galleryFact~.pdBlock .pdDescription {line-height:149%; overflow:hidden;}

  #dealerInfo {padding-top:50px;}
  #dealerInfo .heading, #dealerInfo h5 {font-size:18px; font-weight:600; margin-bottom:24px;} 
  #dealerInfo #enquiryForm {width:700px; padding:0 0 25px 0px;}
}

@media (min-width:320px) and (max-width:760px) {
  .amnIcons, .iconPd {background-image:url('https://www.99acres.com/pwa/public/images/pd_sprite-v2.png'); background-size:360px 360px;}

  i.amnIcons {width:24px; height:24px;}
  i.iconPd {background-size:270px 270px; width:18px; height:18px;}

  .lf {background-position:-72px -24px;}
  .fs {background-position:-48px -24px;}
  .fa {background-position:-240px -72px;}
  .if {background-position:-336px 0;}
  .pk {background-position:-168px -24px;}
  .ms {background-position:-192px -24px;}
  .vp {background-position:-144px -24px;}
  .ws {background-position:-120px -24px;}
  .pb {background-position:-216px -72px;}

  .areaIcon {background-position:0 0;}
  .configIcon {background-position:-36px 0;}
  .priceIcon {background-position:-18px 0;}
  .addressIcon {background-position:-72px 0;}
  .floorIcon {background-position:-144px 0;}
  .directionIcon {background-position:-108px -90px;}
  .overlookingIcon {background-position:-52px -157px;}
  .possessionIcon {background-position:-54px -72px;}
  .typeIcon {background-position:-54px 0;}
  .parkingIcon {background-position:-54px -54px;}  
  .ageIcon {background-position:0 -90px;}

  .pdBlock {margin-bottom:1rem; background-color:#fff; padding:.625rem; margin:0 0 20px;
      box-shadow: 0 32px 32px 0 rgba(48,48,77,.05), 0 16px 16px 0 rgba(48,48,77,.05), 0 8px 8px 0 rgba(48,48,77,.05), 0 4px 4px 0 rgba(48,48,77,.05), 0 2px 2px 0 rgba(48,48,77,.05);}
  .pdBlock h2 {font-size:.9rem; padding:.625rem .3125rem .3125rem 0; color:#999; font-weight:600;}
}


@media screen and (min-width: 1050px) {
	.contentInnerWrap {width:1170px;}	
}
@media screen and (min-width: 761px) and (max-width: 1049px) {
	.contentInnerWrap {width:970px;}	
}