@media (min-width:320px) and (max-width:760px) {
  #footer {background:#fff; text-align:center; font-size:.625rem;}
  #footer .footer-links {box-shadow:0 3px 3px 1px rgba(0,0,0,.05); padding:10px 0;}
  #footer .footer-links a {color:#16a085; text-decoration:none; display:inline-block; margin-right:5px;}
  #footer .footer-links a:after {display:inline-block; content:"."; width:1px; height:1px; margin:0 2px 0 5px;}
  #footer .footer-links a:last-child {margin:0;}
  #footer .footer-links a:last-child:after {display:none;}
  #footer .footer-groupInfo {color:#16a085; margin-top:10px; font-weight:600;}
  #footer .footer-copyright {color:#666; margin-top:10px; font-style:italic; padding-bottom:50px;}  
}