/* #setElipBgCvr{display: block;}*/	
#srp_tab_dtl{position: relative;}	
.searchPage header{position: fixed;z-index: 10;}	
.tempDiv{width: 100%; margin: 1px 0; height: 55px; display: inline-block; position: relative; margin-top: 55px;}																																								
.srpTpNudgWrp.mTopFixLFT{margin:55px auto 20px; width:90%} 
.srpfxdCnt.nudgeFxd{z-index: 10; position: fixed; width: 100%; margin-top: 0px; top: 54px; background: rgb(244, 244, 244); box-shadow: rgba(48, 48, 77, 0.5) 0px 2px 7px 0px; }
.srpTpNudgWrp *{box-sizing:border-box;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none; }
/*.srpTpNudgWrp{margin-bottom:10px;  width:100%; position:relative;  padding:10px 0 0; overflow:hidden; white-space:nowrap}*/
.srpTpNudgWrp {padding: 10px 0 5px;height: auto!important;width:100%;margin-bottom: 5px;background-color: #F5F7FA;text-align: center; overflow:hidden;}
.srpTpNudgWrp .slidFilm{display:flex;  transition:all .2s ease-in-out}
.srpTpNudg{display:inline-block;  padding:10px;  font-size:14px;  width:125px;  line-height:20px;  color:#fff;  font-weight:600;  margin:0 10px 0 0;  text-align:center;  background:linear-gradient(#1ccaa7,#16A085); white-space:normal;cursor: pointer;}
.srpTpNudg span{font-weight:400}
.srpTpNudg.middlerY div{display: inline-block;width: 95%;}
.srpTpNudg.SelNudge{border:1px solid #ccc; background:#fff; color:#333; text-align:left; position:relative;cursor: auto}
.srpTpNudg.SelNudge:after{content:''; position:absolute; right:10px; top:0; bottom:0; margin:auto; width:18px; height:18px; background-position:-260px -23px; /*background-image:url(../images/ui_sprite_home-v22.png);*/ background-repeat:no-repeat; cursor:pointer}
.srp_sortBy{padding:5px 10px; cursor:pointer; position:relative;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;white-space:nowrap;}
.srp_sortBy div{display:inline-block; margin-right:5px; vertical-align:middle; color:#3498db; font-size:12px; font-weight:600}
.srp_sortBy span:after{content:'';  border:solid #3498db;  border-width:0 2px 2px 0;  display:inline-block;  transform:rotate(45deg);  -webkit-transform:rotate(45deg);  -moz-transform:rotate(45deg);  -ms-transform:rotate(45deg);  margin:0;  padding:3px; vertical-align:middle;  transition:0.4s all ease}
.srpSortRotate{transform:rotate(-180deg);  -webkit-transform:rotate(-180deg);  -moz-transform:rotate(-180deg);  -ms-transform:rotate(-180deg);  display:inline-block;margin: -2px 0;  vertical-align:middle;  vertical-align:-webkit-baseline-middle}
.srp_sortOptn{width:100px; background-color:#fff; box-shadow:0px 2px 3px 1px rgba(153,153,153,0.5); color:#666; margin:4px 0; position:absolute; z-index:9; padding:0; display:none}
.srp_sortOptn li{list-style-type:none; margin:0; padding:5px}
.srp_sortOptn li:hover,.srp_sortOptn .sel{background-color:#f1f1f1}
.srp-ysfWrap{padding:0px 16px 0}
.srp-Heading{margin:0}
#results.m16{margin-top:0}
.srpFilter.srp-Heading{width:58%; display:inline-block}
.srpTpNudgWrp .Next, .srpTpNudgWrp .Previous{ background:rgba(204,204,204,.5);  color:#fff;  width:60px;  height:100%;  position:absolute;  left:0;  top:0;  top:0;  bottom:0;  margin:auto;  z-index:1;  transition:all .2s ease-in-out}
.srpTpNudgWrp .Next{ left:auto;  right:0;display:none}
.srpTpNudgWrp .Next:after, .srpTpNudgWrp .Previous:after{content:'';  border:solid #fff;  border-width:0 3px 3px 0;  display:inline-block;  transform:rotate(-45deg);  -webkit-transform:rotate(-45deg);  -moz-transform:rotate(-45deg);  -ms-transform:rotate(-45deg);  margin:auto;  position:absolute;  padding:8px;  margin:30px 14px}
.srpTpNudgWrp .Previous{display:none}
.srpTpNudgWrp .Previous:after{transform:rotate(135deg);  -webkit-transform:rotate(135deg);  -moz-transform:rotate(135deg);  -ms-transform:rotate(135deg); margin:30px 22px}

/* coachmark */
.srp_coachMrks{width: 250px;z-index: 5; background-color: #4a4a4a; padding: 15px;font-size: 12px;position: absolute; top: 0px;margin: auto;left: 160px;color: #fff;display: none;}
.srp_coachMrks:before{content:'';width: 0;height: 0;border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #4a4a4a; vertical-align: middle;position: absolute;top: -10px;left: 50px;}
.srp_coachMrks a,.srp_coachMrks a:visited{margin: 0 5px;color: #3496D9;}
#srp_chMrk1{display: block;}
/*#srp_chMrk2{left: 690px;top: 100px;}*/
#srp_chMrk2.srp_coachMrks:before{left:288px;}
#srp_chMrk3{left: 215px;top: 50px;}
#srp_chMrk3.srp_coachMrks:before{top: 30px;left: -14px;transform: rotate(-90deg);}
.srp_coachMrks i.crossNdge{background-position: -380px -236px;width: 20px;height: 20px;position: absolute;top: 5px;right: 5px;cursor: pointer;}
.npsrpCompare{border: 0;background: #3498db;color: #fff;font-size: 12px;font-weight: 600;padding: 5px;outline: 0;}
#xidPages .srpFilter.srp-Heading{width:63%;}
#xidPages .srp-ysfWrap{padding: 0px 0px 0 20px;}
.hideNudgeCss{margin: 20px auto 20px!important;}
.nudgeSortBy{display: inline-block; width: 57%;font-size:10px;color:#999; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle;}
/* css-slider-start */

  .autoSlideWrp{width: 100%;overflow: hidden;position: relative;}
  .autoSlideFlm{white-space: nowrap;position: relative;transition: all 0.5s ease-in;left: 0;display: inline-block;}
  .autoSlideFlm > div{padding: 10px 46px;text-align: center;font-size: 14px;margin: 0 3px;display: inline-block;white-space: nowrap;width: auto;border-radius: 2px!important;}  
  .prevArw,.nxtArw{width: 40px;height: 100%;background:rgba(0,0,0,0.3);position: absolute;top: 0;cursor: pointer;opacity: 0;transition: all 0.3s ease-in;}
  .autoSlideWrp:hover .prevArw,.autoSlideWrp:hover .nxtArw{opacity: 1}
  .prevArw{left:0;display: none;}
  .nxtArw{right:0;display: none;}

/* css-slider-end */


  .srpfxdCnt{width: 100%; margin: 1px 0; position: absolute; margin-top: 55px; top: 0;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out}
  .ndgNwTag{    display: inline-block;}
  .ndgNwTag i{width: 81px;height: 29px;/*background-image: url(/images/newIcn.png);*/background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
  .ndugeStcky{box-shadow: 0 2px 7px 0 rgba(48, 48, 77, 0.5); background-color: #f4f4f4;}
  .mt120{margin-top:120px;}
  .newTgWrp{width: 100%;margin:auto;position: relative;}
  .newNdgeCochMrk{width: 100%; background-color: #fff; font-size: 28px; color: #333; line-height: 25px; z-index: 99999; position: fixed; top: 0; height: 270px; padding: 106px 35px 0 35px; text-align: center; box-sizing: border-box;width: 100%; background-color: #fff; font-size: 28px; color: #333; line-height: 25px; z-index: 99999; position: fixed; top: 0; height: 270px; padding: 106px 35px 0 35px; text-align: center; box-sizing: border-box;}
 .newNdgeCochMrk .chMrkcont {position: absolute; margin: auto; left: 0; right: 0; bottom: 135px;}
  .newNdgeCochMrk img{position: absolute; margin: auto; left: 0; right: 5px; bottom: 60px; object-fit: contain;}
/*  .newNdgeCochMrk img.hideNudg{top: 5px;}*/
  .newNdgeCochMrk b{font-weight: 700;}

  /*change in existing */  
  
  .srp_coachMrks{z-index: 9999}
  #srp_chMrk1{position: fixed;top: 118px;display: none;}
 .srpTpNudg{cursor: pointer;}
 .srpTpNudg:hover{box-shadow: 0 2px 4px 0 #999;}
  .srpTpNudgWrp .nxtArw:after, .srpTpNudgWrp .prevArw:after {
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    margin: auto;
    position: absolute;
    padding: 6px;
    margin: 22px 9px;
}
.srpTpNudgWrp .prevArw:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    margin: 22px 16px;
}
.srp_coachMrks{z-index: 1;left: auto;}
.srp_coachMrks .cont{width: 80%;display: inline-block;padding-right: 8px;vertical-align: middle;}
.srp_coachMrks span.gotIt{cursor:pointer;display: inline-block; vertical-align: bottom; color: #74CFC4; font-weight: 600;}
#srp_chMrk2{ right: 18px; top: 35px;position: absolute;display:none;left:auto;width: 330px;}
.srp_coachMrks span{display: block;}
#xidPages #srp_chMrk2 {display:none;}
