.srpResultsCards{position:relative}
.srpResultsCards .srpCards{visibility:hidden}
.srpCardPlaceHolders{position:absolute;z-index:1;top:0;width:100%}
#srpPage .filterCoachMrk{background-color:#3496d9;width:68%;font-size:14px;padding:15px;position:fixed;bottom:52px;left:10px;color:#fff;border-radius:2px;font-weight:400;z-index:9}
#srpPage .filterCoachMrk h6{font-weight:400}
#srpPage .filterCoachMrk:after{content:'';width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #3496d9;vertical-align:middle;position:absolute;bottom:-9px;left:15%}
#srpPage .filterCoachMrk span{font-size:11px;float:right;margin-top:7px;padding:7px;background-color:#2174ab}
.srp *{-webkit-tap-highlight-color:transparent;text-decoration:none}
.srp.fsl{background:#fbfffe;overflow:hidden}
.srp.fsl:after{border-bottom:2px #16a085 solid;position:absolute;bottom:0;width:100%;left:0}
.srp{background:#fff;position:relative;box-shadow:0 1px 4px 1px rgba(0,0,0,.1);border:1px #ddd solid;border-width:0 0 1px;margin:6px 0}
.srp:after{display:block;content:"";clear:both;width:0;height:0}
.srp .srpImg{width:146px;height:110px;display:inline-block;vertical-align:middle;margin-right:10px;position:relative}
.srp .star{position:absolute;width:44px;height:44px;color:#fff;z-index:1;padding:10px;top:0}
.srp .icnCamera{position:absolute;bottom:10px;right:10px;color:#fff;z-index:1}
.srp .srpImg img{width:100%;height:100%;object-fit:cover;max-width:100%;text-align:center;background:#FAFAFA;border:1px #eee solid}
.srp .srp-details{font-size:12px;display:inline-block;vertical-align:middle;width:155px;margin-left:-5px;text-transform:capitalize;font-weight:400}
.srp .srp-details .WebRupee{height:14px;font-size:14px;font-weight:400;width:10px;display:inline-block;margin-right:0}
.srp .srp-details>div{color:#999;width:100%;overflow:hidden;font-size:10px;text-overflow:ellipsis;white-space:nowrap}
.srp .srp-details>div:first-child{color:#2980b7;font-size:14px;font-weight:600}
.srp .srp-details>div:nth-child(2){margin-top:3px}
.srp .srp-details>div.projttl{color:#333;margin:7px 0 3px;font-size:12px}
.srp .callBtn{background:#f5f7fa;width:42px;height:42px;border-radius: 100%;position:absolute;right:10px;bottom:10px;text-align:center;overflow:hidden;z-index:1;top:40px;border:1px #58cdb5 solid}
.srp .callBtn .call{text-align:center;vertical-align:middle;display:inline-block;margin-top:9px}
.callSrp{text-align:center;vertical-align:middle;display:inline-block;margin-top:9px}
.srp .msgBtn{background:#f5f7fa;border-radius:50%;width:42px;height:42px;position:absolute;right:10px;bottom:10px;text-align:center;overflow:hidden;z-index:1;top:40px;border:1px #58cdb5 solid}
.srp .msgBtn .msg{text-align:center;vertical-align:middle;display:inline-block;margin-top:9px}
.srp .seen-v2{background:rgba(0,0,0,.6);color:#fff;padding:2px 4px;font-size:10px;width:auto;position:absolute;bottom:0;right:0}
.srp .offerTag{text-transform:uppercase;position:absolute;right:1px;top:1px;font-size:9px;color:#f39c12;border:1px solid #f39c12;padding:1px 3px;font-weight:700}
.srp .verifiedTag{color:#16a085;text-transform:uppercase;position:absolute;right:1px;top:1px;font-size:9px;padding:1px 3px;font-weight:700;border:1px solid #59cdb5}
.req4Ripple{background:#f5f7fa;border-radius:50%;width:100%;height:100%;position:relative;text-align:center;display:block}
.req4Ripple .ink.animate{border-radius:50%;overflow:hidden;background:#ccc}
.reraTag{color:#16a085;border:1px solid #59cdb5;font-size:10px;padding:1px 3px;float:left;word-break:break-all}
.newTag{padding:0 3px;font-size:10px;text-transform:uppercase;border:1px solid #e5e5e5;color:#16a085;display:inline-block;text-align:center;font-weight:600;margin-left:5px}
.mfw,.mfw *,body,body *,html{box-sizing:border-box}
.clear,.srp:after{clear:both}
body,html{height:100%;width:100%;margin:0;padding:0;font-family:'Open Sans',Arial,Helvetica,sans-serif!important;font-size:1em;line-height:1.3}
.spImg{display:inline-block;vertical-align:middle}
div.ui-page-theme-a{background-color:#F9F9F1}
.mfw header:before,.mfw header>div:before{font-size:0;overflow:hidden;height:100%;display:inline-block;content:"";box-sizing:border-box;vertical-align:middle}
.mfw header{box-shadow:0 3px 3px rgba(0,0,0,.05);z-index:999;background:#3496d9;padding:5px 5px 5px 0}
.mfw header:before{width:0}
.mfw .hamBrgr{width:auto;margin-left:0;border-left:0;padding:8px 10px 7px 0}
.mfw header>div{display:inline-block;height:100%;position:relative;vertical-align:middle;text-align:center}
.mfw header>div:before{width:0}
.icn_hamburger-menu{width:22px;height:22px;background-size:334px 334px;background-position:0 -313px}
#hamMenuBar{height:100%;width:75%;position:fixed;overflow-x:hidden;overflow:auto;background:#fff;z-index:4;top:0}
.mfw .logo99-city{width:auto;text-align:left!important;padding:10px 0 8px}
.ysf,.ysf.undrflw h1{width:100%}
.ysf,.ysf h1{text-align:left;float:left}
div.ui-page-theme-a .ui-bar-inherit{background-color:#F9F9F1}
.ui-bar-a,.ui-page-theme-a .ui-bar-inherit,html .ui-bar-a .ui-bar-inherit,html .ui-body-a .ui-bar-inherit,html body .ui-group-theme-a .ui-bar-inherit{background-color:#e9e9e9;border-color:#ddd;color:#333;text-shadow:0 1px 0 #eee;font-weight:700}
.ysf{background:#fff;padding:8px;color:#333;border-bottom:1px #ccc solid;position:relative}
.ysf-oneline{white-space:nowrap;overflow:scroll}
.ysf h1{margin:0;padding:0;line-height:normal;font-size:10px;font-weight:400}

.nwTags { height: 18px; font-size: 9px!important; color: #fff; padding: 3px 8px; font-weight: 600; display: inline-block; width: auto!important; }
.off-seen-wrap{position:absolute;right:1px;top:1px;display:flex}
.off-seen-wrap .seen{position:static}
.srpImg .postdate{font-size:10px;font-size:10px;position:absolute;bottom:0;color:#fff;background:rgba(0,0,0,.5);padding:2px 10px;width:100%;right:1px}

.srp .offerTag{text-transform:uppercase;position:absolute;right:1px;top:1px;font-size:9px;color:#f39c12;border:1px solid #f39c12;padding:1px 3px;font-weight:700}
.srp .verifiedTag{color:#16a085;text-transform:uppercase;position:absolute;right:1px;top:1px;font-size:9px;padding:1px 3px;font-weight:700;border:1px solid #59cdb5}
.seen { position: absolute; left: 0; bottom: 0; color: #fff; background-color: rgba(0,0,0,.55); font-size: 12px; padding: 2px 5px; display: block; background-color: rgba(0,0,0,.8); }
.srp .srpDescContent,.srp .srpDescMoreLess{vertical-align:top;padding:5px 5px 7px;display:inline-block}
.srp .srpDescContent{font-size:9px;width:87%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.srp .srpDescMoreLess{font-size:10px;width:12%;float:right;position:relative;z-index:1;text-align:center;text-decoration:underline;color:#2b80b7;font-weight:600}
.srp .msgBtn{background:#f5f7fa;border-radius:50%;width:42px;height:42px;position:absolute;right:10px;bottom:10px;text-align:center;overflow:hidden;z-index:1;top:40px;border:1px #58cdb5 solid}

i.option-dot { width: 30px; height: 30px; display: inline-block; background: url(https://www.99acres.com/images/99mobile/icon-sprite-v18.png); background-size: 480px 480px; background-position: -216px -42px; position: absolute; top: 0; right: 0;}
.icnCall {background-position: -72px -48px;}
.callSrp {text-align: center;vertical-align: middle;display: inline-block;margin-top: 9px;}
.mod-sp { background-image: url(https://static.99acres.com/css/99mobile/mod-sp.png); background-repeat: no-repeat; background-size: 480px 480px; width: 24px; height: 24px; display: inline-block; }