<div class="ysf ysf-oneline undrflw">
                    <h1 id="searchStr"><span class="pagingCls semiBold">22281 results</span> - Property in Noida for Sale </h1>
                    <div class="colpse tc"><i class="spImg icn_blkUp"></i></div>
                </div>