<!doctype html>
<html>
	<head>
		<title>Testing</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; IE=EmulateIE10" />
		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.client.css %>">	
	</head>
	<body>
		<div id="app"></div>
		<script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
		<script src="<%= htmlWebpackPlugin.files.chunks.client.entry %>"></script>
	</body>
</html>