.toggleProp{width:200px;margin-bottom:5px}
.toggleProp button{background:#3498db;border:0;color:#fff;padding:10px 25px 10px 0;font-size:12px;width:100%;position:relative;height:40px;font-weight:600;cursor:pointer;letter-spacing:-.03em}
.toggleProp button:after{content:'';border:solid #fff;border-width:0 2px 2px 0;display:inline-block;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);margin:auto;position:absolute;padding:5px;top:14px;right:15px;}