.radio-group > div > div {display:inline-block;}
.radio-group input[type="radio"]
, .radio-group input[type="checkbox"] {display:none;}

.radio-group input[type="radio"] + label span {
  box-shadow:0 0 0 1px;
  display:inline-block; 
  margin:-1px 7px 0 0;
  vertical-align:middle; 
  border-radius:50%;
  border:8px solid white;
  background-color:yellow;
} 
.radio-group input[type="radio"]:checked + label span {
  background-color:#46cdb2;
}

.radio-group input[type="checkbox"] + label span {
  margin-right:5px;
} 
.radio-group input[type="radio"]:checked + label span {
  background-color:#46cdb2;
}

@media (min-width:320px) and (max-width:760px) {
  .radio-group input[type="radio"] + label span {width:22px; height:22px;}
}
@media (min-width:761px) {
  .radio-group input[type="radio"] + label {cursor:pointer;}
  .radio-group input[type="radio"] + label span {width:16px; height:16px; box-shadow:0 0 0 1px #cdd4dc;}
  .radio-group input[type="radio"] + label:hover span {box-shadow:0 0 0 1px #999;}
}