.filter-wrap{padding:7px 3px 2px;font-size:0}
.hgtOvrFlw{height:33px;overflow:hidden}
.filter-wrap .scrollHide{white-space:nowrap;overflow:hidden;overflow-x:scroll;height:60px;-webkit-overflow-scrolling:touch}
.filter-tab{display:inline-block;font-size:10px!important;line-height: 13px;padding:8px 17px 7px;font-weight:700;background:#fff;color:#000;border:1px #9dc9fd solid;position:relative;border-radius:42px;margin-right:5px}
.filter-tab:last-child{margin-right:0}
.filter-wrap{padding:7px 3px 2px;font-size:0}
.hgtOvrFlw{height:33px;overflow:hidden}
.filter-wrap .scrollHide{white-space:nowrap;overflow:hidden;overflow-x:scroll;height:60px;-webkit-overflow-scrolling:touch}
.filter-tab.active i{position:absolute;right:8px;top:0;bottom:0;margin:auto;background-image:url(https://static.99acres.com/images/99mobile/icon-sprite-v17.png);background-position:-23px -167px;background-size:334px 334px;width:15px;height:15px;display:inline-block}