.pgdiv{margin-top:5px;}
.pgdiv input{padding:3px;font-size:11px;margin:1px;}
.pgdes{border:solid 1px #9dade8;color:#fff;background-color:#2c6ab7;}
.pgsel{cursor:pointer;border:solid 1px #2c6ab7;color:#2c6ab7;background-color:#fff;}
.pgsel:hover, .pgdes:hover{border:solid 1px black;}
.legend{text-align:right;}
.legend span{padding-left:20px;font-size:11px;}
.legend .tick{background:url(/images/icons/basictick.gif) 0% 50% no-repeat;}
.legend .sp{background:url(/images/icons/sp_offer.gif) 0% 50% no-repeat;}
.legend .spl{background:url(/images/icons/sponsored.gif) 0% 50% no-repeat;}

.pgdiv INPUT, .pgdiv a, .pgdiv span{padding:7px 7px 6px;line-height:8px;font-size:12px;	margin:2px;	font-weight:600;display:inline-block;}
.pgdiv .pgdes{color:#ffffff !important;}
.pgdiv .pgsel{color:#666766 !important;}
.pgdis{color:#9c9a9b;}
.pgdes{border:solid 1px #0099ff;color:#fff;background-color:#0099ff;}
.pgsel{cursor:pointer;border:solid 1px #4a90cd;color:#2c6ab7;background-color:#fff;}
.pgsel:hover{border:solid 1px black;}
.pgdiv span.pgdis{font-size:15px;color:#666766}
.pgdiv a.pgselActive, .pgdiv input.pgselActive{border:0;font-size:15px;color:#000;background:none;}
.pgdiv a.pgselActive span, .pgdiv span.pgdis span{font-size:13px;vertical-align:middle;padding: 4px 2px 6px;}
.pgdiv input.pgdis, .pgdiv input.pgdis span{font-size:15px;vertical-align:middle;padding: 4px 2px 6px;border:0;background:none;}
