@media (min-width:761px) {
  #footer i.naukri {background-position:-60px 0; width:117px; height:17px;}
  #footer .android {background-position:-168px -120px;}
  #footer .ios {background-position:-288px -120px;}
  #footer .fb {background-position:0px -120px;}
  #footer .tw {background-position:-42px -120px;}
  #footer .yt {background-position:-84px -120px;}
  #footer .gm {background-position:-126px -120px;}

  #footer {background:#444; padding-top:50px;}
  #footer .blueFont {color:#589bff;}
  #footer .wrap {max-width:1196px; margin:0 auto; color:#ddd; font-size:12px;}
  #footer .wrap .description {color:#8a8a8a; padding-bottom:5px; text-align:center; margin-top:10px;}
  #footer .bar {background:#383838; color:#a1a1a1; text-align:center; padding:7px 0 2px 0;}

  #footer .column {width:240px; float:left; margin:0 45px 0 0; }
  #footer .column .title {font-size:16px; font-weight:600; color:#ddd; padding-bottom:20px; line-height:25px;}
  #footer .column ul {float:left; width:100%;}
  #footer .column ul li {padding-bottom:10px; display:block; float:left; line-height:15px; width:100%;}
  #footer .column ul li a {color:#ddd; transition:all .1s ease-in-out;}
  #footer .column ul li a:hover {color:white; font-weight:600;}

  #footer .column.col1 li {width:120px;}
  #footer .col2, #footer .col3, #footer .col4 {width:150px;}
  #footer .col5 {width:320px; margin:0;}
  #footer .col5 a {color:#589bff;}
  #footer .col5 .connect {margin:20px 0 30px 0;}
  #footer .col5 .connect a.uiSprite {margin:0px 10px 10px 0; width:40px; height:40px; display:inline-block;}
  #footer .col5 .apps .title {padding-bottom:7px;}
  #footer .col5 .apps a {width:118px; height:38px; display:inline-block; margin-right:5px;}
}