.listMapCont{position:absolute;right:16px;bottom:-2px;margin: 0 12px 2px 0;width:152px;height:28px;border:thin solid #3498db;color:#3498db;font-size:12px;font-weight:600}
.switch{position:absolute;width:50%;height:100%;background-color:#3498db;transition:all .15s ease;left:0}
.listMapCont.off .switch{left:50%}
.listMapCont .label{position:absolute;width:50%;height:100%;text-align:center;padding-top:5px;cursor:pointer}
.listMapCont .label.right{left:50%}
.listMapCont .label.right,.listMapCont.off .label.left{color:#3498db}
.listMapCont .label.left,.listMapCont.off .label.right{color:#fff;cursor:auto}
.listMapCont{float:right;position:relative;width:152px;height:28px;border:thin solid #3498db;cursor:pointer;color:#3498db;font-size:12px;font-weight:600;right:auto;bottom:auto}
.switch{position:absolute;width:50%;height:100%;background-color:#3498db;transition:all .15s ease;left:0}
.listMapCont.off .switch{left:50%}#xidPages .listMapCont .label{position:absolute;width:50%;height:100%;text-align:center;padding-top:5px}
.listMapCont .label.right{left:50%}
.listMapCont .label.right,.listMapCont.off .label.left{color:#3498db}
.listMapCont .label.left,.listMapCont.off .label.right{color:#fff}