body, td {font-size:14px;}

.contentWrap > div:nth-child(even) {background-color:#F5F7FA;}
.amnIcons {background-image:url('https://static.99acres.com/images/mapsearch/mapAmn5.1.png'); background-repeat:no-repeat; background-size:334px 334px;}
.iconPd {background-image:url('https://static.99acres.com/images/pd_widgets/PD_iconsprite-v3.7.png'); background-repeat:no-repeat; background-size:318px 318px;}

i.iconPd {width:24px; height:24px;}
i.iconPd.info {margin-bottom:-7px; background-position:0 -26px; cursor:pointer;}

.areaIcon {background-position:-26px -130px;}
.configIcon {background-position:-130px 0;}
.priceIcon {background-position:-104px 0;}
.addressIcon {background-position:-26px -157px;}
.floorIcon {background-position:-27px -182px;}
.directionIcon {background-position:0 -182px;}
.overlookingIcon {background-position:-52px -155px;}
.possessionIcon {background-position:-156px 0;}

/*.lf {background-position:-48px -24px;}*/
.fs {background-position:-216px 0;}
.fa {background-position:-192px 0;}
.if {background-position:-240px 0;}
.pk {background-position:-312px -24px;}
.ms {background-position:-72px -48px;}
.vp {background-position:-264px -24px;}
.ws {background-position:-120px -72px;}

.btn99 {transition:border-color 150ms; font-weight:600; min-width:80px; max-width:176px; text-align:center; background-color:transparent; text-decoration:none; display:inline-block; vertical-align:middle; cursor:pointer; box-shadow:none; border:1px solid #000; font-size:14px; padding:10px 15px 6px; border-bottom-width:4px; border-top-width:1px;}
.btnTurqLight {background-color:#59cdb5; border-color:#59cdb5; color:#fff;}

.navWrapper {padding:7px 0 0 0; font-size:12px;}
.navWrapper .breadCrumb {color:#999;}
.navWrapper .breadCrumb a {color:#999}
.navWrapper .breadCrumb span.rPin {padding-left:6px; color:#7b7b7b; padding-right:2px; font-size:14px;}
.navWrapper .info {color:#666; font-weight:600;}
.navWrapper .info span {display:inline-block; line-height:13px;}
.navWrapper .info span.pdPropDate {border-right:solid 1px #999; margin-right:10px; padding-right:10px;}

#tabs li {margin-right:25px; display:inline-block; cursor:pointer; text-align:center; padding:16px 15px 16px 15px;}
#tabs li:hover {color:#39c; font-weight:700;}
#tabs li.sel {color:#39c; position:relative; font-weight:700;}
#tabs li.sel:after {background-color:#39c; content:''; position:absolute; width:100%; left:0; bottom:0; height:3px;}

#galleryFact~.pdBlock {padding:27px 0; border-top:1px solid #ccd1d9; color:#666;}
#galleryFact~.pdBlock h2 {padding-bottom:12px; font-size:16px; font-weight:600;}
#galleryFact~.pdBlock .pdDescription {line-height:149%; overflow:hidden;}

.pdBlock#features ul li {width:16.666666%; display:inline-block; vertical-align:top; margin:15px 0;}
.pdBlock#features ul li i {margin-right:8px; float:left; width:22px; height:22px;}
.pdBlock#features ul li div {margin-left:29px; display:block; margin-top:-3px; padding-right:20px;}

.pdBlock#additionalDetails ul {line-height:200%;}
.pdBlock#additionalDetails ul li {width:24%; height:30px; display:inline-block; color:#999; font-weight:400; position:relative;}
.pdBlock#additionalDetails ul li span:last-of-type {font-weight:600; color:#333;}
.pdBlock#additionalDetails ul li .propCodeUrl {font-size:11px; position:absolute; color:#333;}

#galleryFact {padding:50px 0 24px 0;}
/* #galleryFact #factTable {margin-left:442px; display:block;}
#galleryFact #factTable li {width:49.75%; padding:10px 30px 14px; background-color:#FAFBFC; display:inline-block; margin-bottom:2px;}
#galleryFact #factTable li i {margin-bottom:-4px;}
#galleryFact #factTable li .head {font-weight:400; font-size:14px; color:#999;}
#galleryFact #factTable li .details {margin-top:2px; font-weight:600; font-size:14px; line-height:20px; color:#333; min-height:22px;} */

#dealerInfo {padding-top:50px;}
#dealerInfo .heading, #dealerInfo h5 {font-size:18px; font-weight:600; margin-bottom:24px;} 
#dealerInfo #dealerCard {width:470px; padding-right:60px; padding-bottom:20px;}
#dealerInfo #dealerCard img.dealerPic {width:140px; height:138px; margin-bottom:10px;}
#dealerInfo #dealerCard .primaryInfo {margin-left:170px;}
#dealerInfo #dealerCard a {color:#3498db;}
#dealerInfo #dealerCard .primaryInfo .btn99 {margin-top:58px;}
#dealerInfo #dealerCard .primaryInfo a {font-size:16px; font-weight:600;} 
#dealerInfo #dealerCard .primaryInfo .company {font-size:12px; font-weight:400; color:#999;}
#dealerInfo #dealerCard .infoSet {margin-top:8px; color:#333; line-height:180%;}
#dealerInfo #dealerCard .propInfo a {width:200px; display:inline-block;}
#dealerInfo #dealerCard .propInfo span {color:#3498db; font-size:18px; margin-left:10px;}
#dealerInfo #enquiryForm {width:700px; padding:0 0 25px 0px;}