 .srpLeftFilters{float: left;padding: 0 5px;}
 .srpTupleCont{height: 100%;position: relative;margin-left: 225px;}
 





.ft_list{background-color:#fdffda!important}
.srpNw_Tpl{border:1px solid #ccc;position: relative;overflow: hidden; padding:0px 0 3px 0; box-sizing:border-box; margin-bottom:15px; -webkit-transition:all 0.1s ease-in; transition:all 0.1s ease-in; background-color:#fff; cursor:pointer}
.srpNw_Tpl *{box-sizing:border-box}
.srpNw_Tpl:hover{box-shadow:0 2px 4px 0 rgba(153,153,153,0.50)}
.srpNw_Tpl >div:first-child{border-bottom:1px solid #eee; display:inline-block;width: 100%;}
.srpNw_Tpl >div:nth-child(2){width: 100%;display: inline-block;}
.srpNw_Tpl .srp_TgWrp em{display:inline-block;  background-color:#16A085;  color:#fff;  padding:1px 10px;  font-size:11px;  z-index:1;  font-weight:600; margin-top:0}
.srpNw_Tpl .srp_TgWrp em:before{content:'';  display:inline-block;  width:3px;  height:8px;  margin-right:8px;  border:solid #fff;  border-width:0 1px 1px 0;  transform:rotate(45deg)}
.srpNw_Tpl .srp_TgWrp em + div{height: 80px;width:150px;position: absolute;display: none;}
.srpNw_Tpl .srp_TgWrp em + div > span{padding: 10px;font-style: italic;font-size: 12px;position: absolute;color: #333; font-weight: 400;text-align: center; background: #fff;white-space: normal;margin-top: 5px;box-shadow: 0px 2px 3px 1px rgba(153,153,153,0.5);
}
.srpNw_Tpl .srp_TgWrp em + div > span:after{content:'';width: 0;height: 0;border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; vertical-align: middle;position: absolute;top: -10px;left: 20px;}
.srpNw_Tpl .srp_TgWrp em + div > span span{color: #3496D9;text-decoration: underline;display: block;}
.srpNw_Tpl .srp_TgWrp em:hover + div,.srpNw_Tpl .srp_TgWrp em + div:hover{display: block;}
.srpNw_Tpl a, a:link{text-decoration:none; color:#3496D9; cursor:pointer}
.srpNw_Tpl .srpNw_img{float:left; width:170px; height:128px; border-color:#eee; border-style:solid; border-width:0 1px 0 0; border vertical-align:top; position:relative; color:#fff}
.srpNw_Tpl .srpNw_img div{bottom:0; background-color:rgba(153,153,153,0.5); color:#fff; position:absolute; width:100%; padding:8px; font-size:10px}
.srpNw_Tpl .srpNw_img img{position:absolute; left:0; top:0}
.srpNw_img.seen:before{content:'Seen'; float:left; top:0; padding:1px 10px; background-color:rgba(0,0,0,0.6); font-weight:600; font-size:10px; position:relative; z-index:1}
.srpNw_img.ft:after{content:'Featured'; float:left; top:0; padding:1px 10px; background-color:#9713B8; font-weight:600; font-size:10px; position:relative; z-index:1}
.srpNw_Tpl .srpNw_desc{width:91%; vertical-align:bottom; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.srpNw_tble table td span.srp_ml{vertical-align:bottom; color:#3198db; font-weight:600; cursor:pointer}
.srpNw_Tpl .srpNw_tble{float:left;width: 586px; text-align:left; padding:5px 5px 0 5px; position:relative}
.srpNw_Tpl .srpNw_tble >div{position:absolute; right:15px; top:5px}
.srpNw_tble >div i{width:18px; height:18px; display:inline-block; margin:5px 0 5px 20px; cursor:pointer; background-image:url(ui_sprite_home-v22.png); background-repeat:no-repeat; vertical-align:middle}
.srpNw_tble >div >span i {background: white;font-size: 12px;font-style: normal; width: 40px; text-align: center; margin-left: 15px; border: 1px solid red; vertical-align: bottom; color: red; border-radius: 2px!important;}
.srpNw_tble >div i.srpDisabld:nth-child(2), .srpNw_tble >div i:nth-child(2):hover, .srpNw_tble >div i:nth-child(2):active{background-position:-24px -280px}
.srpNw_tble >div i:first-child{background-position:-48px -280px}
.srpNw_tble >div i:first-child:hover{background-position:-72px -280px}
.srpNw_tble >div i.srp_shrtlst:first-child{background-position:-72px -280px}
.srpNw_tble >div i:nth-child(3){background-position:-120px -280px}
.srpNw_tble >div i:nth-child(3):hover, .srpNw_tble >div i:nth-child(3):active, .srpNw_tble >div i.srpDisabld:nth-child(3){background-position:-96px -280px}
.srpNw_tble >div > span >div{position: absolute; border: none; background-color: #E4E4E4; right: -15px; width: 225px; height: 174px; top: -6px; display: none; box-shadow: none; margin: 0;}
/*.srpNw_tble >div >div:before{content:"";  width:10px;  height:10px;  transform:rotate(-226deg);  border:1px solid #eee;  border-right:0;  border-top:0;  vertical-align:middle;  position:absolute; right:53px; background-color:#fff;  top:-6px;  margin:auto}*/
.srpNw_tble >div > span >div a{width: 100%; padding: 12px 5px; color: #333; display: inline-block; border-bottom: 1px solid #ddd; height: 58px;}
/*.srpNw_tble >div >div a:nth-child(even){background-color:#f7f7f7}*/

.srpNw_tble >div > span >div a i{border:0!important;background-color:transparent;vertical-align:middle; margin:0 5px 0 0; display:inline-block; width:18px; height:18px; background-image:url(ui_sprite_home-v22.png); background-repeat:no-repeat}
.srpNw_tble >div > span >div a:first-child i{background-position:-161px -280px}
.srpNw_tble >div > span >div a:nth-child(2) i{background-position:-142px -280px}
.srpNw_tble >div > span >div a span{display:inline-block;  overflow:hidden;  text-overflow:ellipsis;  white-space:nowrap;  width:85%;  vertical-align:middle}

.srpNw_tble >div > span >div a:hover > span {color: #3496D9;transition: all 0.5s ease;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-ms-transition: all 0.5s ease;}
.srpNw_tble >div > span >div a span {line-height: 18px;width: 83%;font-size: 11px;font-weight: 600;}
.srpNw_tble >div > span >div a span .optnSpn {display: block;font-weight: 400;color: #333!important; width: 100%;font-size: 10px;}
.srpNw_tble table{table-layout:fixed; width:100%; color:#333;  line-height:16px}
.srpNw_tble table th, .srpNw_tble table td{overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.srpNw_tble table th{font-weight:400; font-size:12px; color:#666; height:18px; cursor:pointer}
.srpNw_tble table th:hover{color:#3496D9}
.srpNw_tble table tr:first-child td a{font-size:12px; font-weight:600; height:19px; display:block}
.srpNw_tble table td{padding:0 10px 0 0; font-size:12px; width:140px}
.srpNw_tble table td .srpNw_price{color:#3496D9; font-size:16px; font-weight:600}
.srpNw_tble table tr:last-child div{margin-top:13px; font-size:11px; color:#666}
.srpNw_tble table tr:last-child td{overflow:visible; white-space:normal}
.srpNw_tble table tr:nth-child(3) td{padding-top:10px; font-size:14px}
.srpNw_tble table tr:nth-child(3) td:last-child{font-size:12px; padding:10px 0 0 0; font-weight:600; color:#666}
.srpNw_tble table tr td span{color:#666}
.srpNw_tble table tr:nth-child(4) td{color:#999; font-size:10px}
.srp_TgWrp{color:#666; font-size:14px; font-weight:600}
.srpNw_Tpl .srpNw_cBtn{ width:auto; border:1px solid #3498db;padding: 7px 10px 3px;border-bottom-width: 4px;  margin:0;  font-weight:600;  height:34px;  font-size:12px;  background:#3498db;  text-align:center;  color:#fff;  float:right;  cursor:pointer;  margin-right:10px; outline:none; min-width:130px}
.srpNw_Tpl .srpNw_cBtn:hover{border-bottom:4px solid #2980b9}
.srpNw_Tpl .srpNw_cBtn:active{background:#2980b9}
.srpNw_Tpl .srp_whiteBtn{border:1px solid #3498db;  background-color:#fff;  color:#3498db;  font-weight:600;  height:34px;  padding:6px 10px;  font-size:12px;  margin:0 8px 0;  cursor:pointer;  min-width:130px;  float:right; outline:none}
.srpNw_Tpl .srp_whiteBtn:hover{background-color:#3498db; color:#fff}
.srpNw_Tpl .srp_whiteBtn:active{background:#2980b9}
.srpNw_Tpl .srp_rTag{background-color:#16A085; padding:0 3px; display:inline; color:#fff; font-size:10px}
.srpNw_Tpl .srp_nwBook{background-color:#2723a7; color:#fff;  padding:1px 10px; font-size:10px; font-weight:600; margin-top:0; display:inline-block}
.srpNw_tble table .srp_nwBook+span{color:#2723a7; font-size:10px; vertical-align:bottom; display:inline-block; margin-left:2px}
.srpNw_Tpl .srpNw_dlrNme{width:60%; color:#999; font-size:11px; padding:0 10px;  margin-top:10px; display:inline-block; overflow:hidden; white-space:nowrap;  text-overflow:ellipsis}
.srpNw_Tpl .srpNw_dlrNme a{color:#666}
.srpNw_Tpl .srpNw_dlrNme a:hover{text-decoration:underline}
.srpNw_reqFoto{color: #3498db;width: 110px;padding: 4px;bottom: 35px; font-size: 10px;text-align: center;position: absolute;font-weight: 400; left: 30px;}
.srpNw_noPicTxt{color: #999; display: block;position: absolute; bottom: 55px; padding: 0px 18px;font-size: 10px; text-align: center; width: 100%;}

.hideCoachMrk{position: absolute;top:-101%;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.85);color: #fff;font-size: 20px;z-index:9;text-align: center;line-height: 28px;transition: all 0.5s ease-in-out; }
.hideCoachMrk > div{ width: 50%;margin: auto;}
.hideCoachMrk .okBtn >input{color:#50E3C2;font-size: 11px;border: 0;background: transparent;font-weight: 600;cursor: pointer;outline: none;}
.hideCoachMrk .hideBtn{background: white; width: 40px; text-align: center; border: 1px solid red; vertical-align: bottom; color: red; position: absolute; top: 8px; line-height: 18px; padding: 0; right: 15px; border-radius: 2px!important;}
.hideCoachMrk i.arrowHide{width: 58px;height: 46px;position: absolute;top:35px;right: 45px;background-image: url(images/arrow.png);}