@media (min-width:320px) and (max-width:760px) {
  .pdBlock#additionalDetails ul {border:1px solid #e9ecef; margin-top:.625rem; font-weight:600; border-bottom:none;}
  .pdBlock#additionalDetails ul li {border-bottom:1px solid #e9ecef; font-size:.75rem;}
  .pdBlock#additionalDetails ul li span {padding:.6rem; word-break:break-word; display:inline-block; width:58%; color:#333; line-height:16px;}
  .pdBlock#additionalDetails ul li span:first-child {background:#f7f8fa; width:41%; font-weight:400; font-size:.625rem; color:initial;}
}

@media (min-width:761px) {
  .pdBlock#additionalDetails ul {line-height:200%;}
  .pdBlock#additionalDetails ul li {width:24%; height:30px; display:inline-block; color:#999; font-weight:400; position:relative;}
  .pdBlock#additionalDetails ul li span:last-of-type {font-weight:600; color:#333;}
  .pdBlock#additionalDetails ul li .propCodeUrl {font-size:11px; position:absolute; color:#333;}
}