.amnIcons, .iconPd {background-image:url('https://www.99acres.com/pwa/public/images/pd_sprite-v2.png'); background-repeat:no-repeat; background-size:360px 360px;}

i.amnIcons {width:24px; height:24px;}
i.iconPd {background-size:270px 270px; width:18px; height:18px;}

.pb {background-position:-216px -72px;}
/*.lf {background-position:-72px -24px;}*/
.fs {background-position:-48px -24px;}
.fa {background-position:-240px -72px;}
.if {background-position:-336px 0;}
.pk {background-position:-168px -24px;}
.ms {background-position:-192px -24px;}
.vp {background-position:-144px -24px;}
.ws {background-position:-120px -24px;}

.areaIcon {background-position:0 0;}
.typeIcon {background-position:-54px 0;}
.possessionIcon {background-position:-54px -72px;}
.configIcon {background-position:-36px 0;}
.parkingIcon {background-position:-54px -54px;}
.priceIcon {background-position:-18px 0;}
.addressIcon {background-position:-72px 0;}
.floorIcon {background-position:-144px 0;}
.directionIcon {background-position:-108px -90px;}
.overlookingIcon {background-position:-52px -157px;}
.ageIcon {background-position:0 -90px;}

.pdBlock {margin-bottom:1rem; background-color:#fff; padding:.625rem; margin:0 0 20px;
    box-shadow: 0 32px 32px 0 rgba(48,48,77,.05), 0 16px 16px 0 rgba(48,48,77,.05), 0 8px 8px 0 rgba(48,48,77,.05), 0 4px 4px 0 rgba(48,48,77,.05), 0 2px 2px 0 rgba(48,48,77,.05);}
.pdBlock h2 {font-size:.9rem; padding:.625rem .3125rem .3125rem 0; color:#999; font-weight:600;}
.pdBlock .pdDescription {font-size:.75rem; margin:.625rem 0; color:#333; white-space:pre-line; overflow:hidden;}
.pdBlock .primaryInfo {margin-left:60px; font-size:.875rem;}
.pdBlock img.dealerPic {width:50px; height:50px; margin-bottom:5px;}
.pdBlock .primaryInfo a {font-weight:700; color:#666;}
.pdBlock .primaryInfo a span {font-size:.75rem; font-weight:400;}
.pdBlock .infoSet {margin-top:3px; color:#333; font-size:.75rem; font-weight:600;}
.pdBlock .infoSet.about {font-size:.875rem; padding-bottom:6px; border-bottom:solid 1px #e9ecef; font-weight:normal;}
.pdBlock .infoSet a {color:#3496d9;}

.pdBlock#features ul {margin-top:.625rem; color:#666; font-weight:600;}
.pdBlock#features ul li {width:30.65%; text-align:center; overflow:hidden; font-size:.75rem; background:#f7f8fa; display:inline-block; padding:20px 10px 10px 10px; margin-bottom:.7375rem;}
.pdBlock#features ul li div {margin-top:.5rem; height:35px; line-height:12px; font-size:.625rem;}
.pdBlock#features ul li:nth-child(3n+2) {margin-left:.75rem; margin-right:.75rem;}

.pdBlock#additionalDetails ul {border:1px solid #e9ecef; margin-top:.625rem; font-weight:600; border-bottom:none;}
.pdBlock#additionalDetails ul li {border-bottom:1px solid #e9ecef; font-size:.75rem;}
.pdBlock#additionalDetails ul li span {padding:.6rem; word-break:break-word; display:inline-block; width:58%; color:#333; line-height:16px;}
.pdBlock#additionalDetails ul li span:first-child {background:#f7f8fa; width:41%; font-weight:400; font-size:.625rem; color:initial;}