#otherLinks .block {padding:25px 0 12px; border-bottom:1px solid #ccd1d9;}
#otherLinks .block:last-child {border:none;}
#otherLinks .block .heading {padding-bottom:4px;}
#otherLinks .block ul {font-size:13px; margin:0 25px;}
#otherLinks .block ul li {width:24%; display:inline-block; line-height:22px;}