.textarea-group {}
.textarea-group textarea {padding:10px; border:1px #cdd4dc solid; width:100%;}
.textarea-group .charLimit {font-size:11px; color:#5e5e5e; text-align:right; margin-top:3px;}

@media (min-width:320px) and (max-width:760px) {
  .textarea-group {}
}
@media (min-width:761px) {
  .textarea-group {}
  .textarea-group textarea {font-size:13px;}
}