#enquiryForm .radio-group > div > div {margin-left:25px;}

@media (min-width:320px) and (max-width:760px) {
}

@media (min-width:761px) { 
  #enquiryForm {font-size:14px; color:#666;}
  #enquiryForm .radio-group {margin:0 0 15px 0;}
  #enquiryForm .inputSet {width:300px; vertical-align:top; display:inline-block;}
  #enquiryForm .inputSet .text-group {margin:15px 0 0;}
  #enquiryForm .inputSet .text-group input {height:40px;}
  #enquiryForm .inputSet .text-group:first-child {margin-top: 0;}
  #enquiryForm .textarea-group {margin-left:20px; display:inline-block; vertical-align:top; width:250px;}
  #enquiryForm textarea {height:148px;}
}