/*#sBluBar{width:40px;z-index:4;float:right;top:-8px}
#sBluBar>a{font-weight:600;cursor:pointer;display:inline-block;vertical-align:top;padding:9px 15px;width:190px;color:#F5F5F5;text-decoration:none;text-transform:uppercase;font-size:14px;position:relative}
#sBluBar>a:hover{background-color:#467EDD;background-image:-webkit-gradient(linear,left top,left bottom,from(#467EDD),to(#4C89F3));background-image:-moz-linear-gradient(top,#467EDD,#4C89F3);background-image:-ms-linear-gradient(top,#467EDD,#4C89F3)}
#sBluBar>#sBluDrpWrap{position:absolute;left:40px;top:0;width:990px}
#sBluBar .sBluDrp{position:absolute;left:0;top:100%;display:inline-block;vertical-align:top;margin:0 auto;background-color:#FEFEFE;border:1px solid #ECECEC;border-top:0;text-align:left;box-shadow:0 1px 5px 1px rgba(0,0,0,.1);color:#000;display:none;-moz-box-shadow:0 1px 5px 1px rgba(0,0,0,.1);-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,.1)}
#sBluBar .sBluDrp.in0>div{padding:10px 0;border-top:1px solid #DCDCDC;text-align:left;display:block}
#sBluBar .sBluDrp.in0>div:first-child{border-top:0}
#sBluBar .sBluDrp.in0 td.bdrJq{border-bottom:1px #ccc solid}
#sBluDrpWrap .sBluDrp.in0 tr.rowdisplay{display:block;height:3px}
#sBluDrpWrap .sBluDrp.in0 td.bdrJq{border-bottom:1px #ccc solid;width:100%}
#sBluDrpWrap .sBluDrp.in0 tr.rowdisplay:last-child td{border:0}
#sBluDrpWrap .sBluDrp.in0 tr{width:100%}
.sBluDrp.in0 tbody{width:100%}
#sBluBar .sBluDrp.in0 a{color:#323232;text-decoration:none}
#sBluBar .sBluDrp.in0 .in0City{width:200px;font-weight:600;display:inline-block;vertical-align:top;font-size:13px;text-transform:uppercase;padding-left:60px}
#sBluBar .sBluDrp.in0 .in0Prj{display:inline-block;width:660px;font-size:12px;display:inline-block;width:660px;font-size:12px}
#sBluBar .sBluDrp.in0 .in0Prj .pipeSign{border-right:1px #858383 solid;padding-left:3px;display:inline}
#sBluBar .sBluDrp>div{display:inline-block;vertical-align:top}
#sBluBar .sDrpL{width:153px;font-size:14px;text-align:left;float:right}
#sBluBar .sBluDrp>.sDrpR{width:80%;display:none}
#sBluBar .sBluDrp>table.sDrpR tr{display:block;padding:8px}
#sBluBar .sBluDrp>table.sDrpR tbody{width:100%}
#sBluBar .sBluDrp>table.sDrpR td{display:inline-block;font-size:14px;padding:3px;width:25%}
#sBluBar .sDrpR.in0{display:inline-block}
#sBluBar .sBluDrp.in0 a:hover{text-decoration:underline}
#sBluBar .sDrpR.in2 a,#sBluBar .sDrpR.in3 a{display:block;text-decoration:none;font-size:12px;font-weight:600;text-transform:uppercase;color:#323232;margin-top:25px}
#sBluBar .sDrpR.in2 a:first-child,#sBluBar .sDrpR.in3 a:first-child{margin-top:0}
#sBluBar .sDrpL>div{font-weight:600;height:74px;position:relative;cursor:pointer;padding:18px 0 18px 25px;border-top:1px solid #ccc;border-left:1px solid #ccc}
#sBluBar .sDrpL>div:first-child{border-top:0}
#sBluBar .sDrpL>div>div:first-child{font-size:18px;text-transform:uppercase}
#sBluBar .sDrpL>div>div{font-weight:400}
#sBluBar .sDrpL>.actDrp{border-right:0;background:#6cc;border-color:#6cc;color:#fff}
#sBluBar .sDrpL>.actDrp i.arrRBig,#sBluBar .sDrpL>.actDrp i.arrRBig-sel{display:inline-block}
#sBluBar .sBluDrp i.arrRBig,#sBluBar .sBluDrp i.arrRBig-Sel{position:absolute;right:100%;top:0;display:none}
#sBluBar .sDrpR{position:absolute;top:0;bottom:0;right:110px;width:75%;margin-top:auto;margin-bottom:auto}
#sBluBar .sDrpR>div>div{display:inline-block;vertical-align:top;width:190px}
#sBluBar .cont>div>div{margin-top:32px;font-weight:600;line-height:15px}
#sBluBar .cont>div>div:first-child{margin-top:0}
#sBluBar .cont>div>div>div>span,#sBluBar .cont ul{font-size:10px;display:inline-block;vertical-align:middle;list-style:none}
#sBluBar .cont ul{margin:0;padding:0;margin-left:5px}
#sBluBar .cont li{display:inline-block;vertical-align:top;height:20px;width:20px;color:#0364cb;text-align:center;margin-left:4px;cursor:pointer}
#sBluBar .cont li a:hover,#sBluBar .cont li a:active{background-color:#0364cb;color:#fff!important}
#sBluBar .cont li a:active{background-color:#0559B1}
#sBluBar .cont li a{display:inline-block;padding:2px 6px 1px}
#sBluBar .cont>div>div>div:first-child{font-size:12px;text-transform:uppercase;font-weight:600;display:block}
#sBluBar .cont>div>div>a:first-child{font-size:12px;color:#323232;text-decoration:none;text-transform:uppercase;font-weight:600;display:block}
#sBluBar .cont>div>div>a:first-child:hover{text-decoration:underline}
#sBluBar .cont>div>a:hover{text-decoration:underline}
#sBluBar .sBluDrp.in1{margin-left:0}
#sBluBar .sBluDrp.in0{margin-left:0}
#sBluBar .cont li.disabled{cursor:default;background:#fff;pointer-events:none}
#sBluBar .cont li.disabled a,#sBluBar .cont li.disabled a:hover,#sBluBar .cont li.disabled a:visited{color:#ccc}
.hoverClass{background-color:#467EDD;background-image:-webkit-gradient(linear,left top,left bottom,from(#467EDD),to(#4C89F3));background-image:-moz-linear-gradient(top,#467EDD,#4C89F3);background-image:-ms-linear-gradient(top,#467EDD,#4C89F3)}
#sBluBar div{display:block}
.ellip-tabs{border-bottom:1px #999 solid;float:left;background:#fff;font-size:16px;color:#000;height: 100%; width: 100%;}
.ellip-tabs .tabs12 { margin: 0 auto; text-align: center; padding-top: 10px; }
.ellip-tabs .tabs12{width:49%;background:#fff;height:40px;float:left;cursor:pointer;margin:0 auto;text-align:center;padding-top:10px}
.ellip-tabs .tabs12.sel div{border-bottom:2px #3b67c8 solid;width:80%;height:38px;margin-left:50px}
#sBluBar .sBluDrp.hotSelect{display:block;z-index:2}
/*.showBlu{background:rgba(255,255,255,.5)}*/
/*#sBluBar.showBlu>#sBluDrpWrap{background-color:#FEFEFE;width: 930px;transition: all 400ms;}
#sBluBar.hotPro .jQ0,#sBluBar.hotArea .jQ1{display:block!important;z-index:2}
#sBluBar #newProjects div,#sBluBar #hotProperties div{width:60%;height:38px;margin:auto}
#newProjects div,#hotProperties div{border-bottom:2px #fff solid;transition:border 150ms}
.hotPro #newProjects div,.hotArea #hotProperties div{border-bottom:2px #0364cb solid;font-weight:700}
#sBluBar.showBlu #newProjects:hover div,#sBluBar.showBlu #hotProperties:hover div{border-bottom:2px #0364cb solid}
#sBluBar.newBar .sBluDrp{top:49px}
#sBluBar .sBluDrp .blueLinkIn a,#sBluBar .sBluDrp .blueLinkIn a:visited,#sBluBar .sBluDrp .blueLinkIn a:active{color:#0364cb;text-decoration:none;cursor:pointer}
#sBluBar .sBluDrp .blueLinkIn a:hover{text-decoration:underline}
#sBluBar>#sBluDrpWrap{height:49px;right: 0px;left:auto;opacity: 0;z-index: -1;}
#sBluBar{width:67px}
#sBluBar .sDrpR>div>div{width:183px}
.sBluDrp .blueLinkIn a:hover{text-decoration:underline}
.jQ0,.jQ1{width:930px!important}*/
.headerFloatRight{position:absolute;top:60px;right:0;height:200px;text-align:right}
.headerFloatRight>div{height:29px;display:block;clear:both}
.headerFloatRight>div:first-child{height:33px}
.fullbg .headerFloatRight{display:block}
.headerFloatRight>#sBluBar{position: absolute;
    top: 55px;
    right: 0px;
    z-index: 9;}
.headerFloatRight>div>a{top:0;width:30px}
.headerFloatRight #hot-area-projects{margin:1px 19px 0 0;cursor:pointer}



.tabs.open{right: 55px;opacity: 1;z-index: 9;height: auto; border: 1px solid #ccc;}

.tabs{    background-color: #fff;
    border: 0;
   width: 940px;
    overflow: hidden;
    right: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
    margin-top: -30px;
    height: 0;
    transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -webkit-transition: all 0.5s ease;}
.inn-tabs{border:0;z-index: 9;height: auto;opacity: 1;margin-top: 0;position: relative;}
.tab-list{border-bottom:1px solid #ccc;padding-left:0;margin:0}
.tab-list-item{display:inline-block;list-style:none;margin-bottom:0;padding:.75rem;font-size:16px;color:#333;width:32%;text-align:center;border-bottom:2px solid;border-color:transparent}
.tab-list-active{color:#2980b9;font-weight:700;border-color:#2980b9}
.inn-tab-list-item{padding:10px 15px;width:100%;height:75px;    text-align: left;border-left:1px solid #ccc;border-bottom:1px solid #ccc}
.inn-tab-list-item span{display:inline-block;vertical-align:middle;font-size:16px}
.inn-tab-list{list-style:none;float:right;margin:0;width:150px}
.inn-tab-content{position:absolute;top:0;width:84%;height:100%}
.inn-tab-list-active{background:#6cc;color:#fff;position:relative}
.inn-tab-list-active:before{content:'';width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;left:-10px;margin:auto;top:0;bottom:0;position:absolute;border-right:10px solid #6cc}
.tab-content{position:relative;}
.ellipsList1 tr td{vertical-align:top;padding:10px 30px;font-size:14px;color:#000;width:33%;word-spacing:0;text-align: center;}
.ellipsList1 tr td a span{font-size: 14px;display: inline-block;text-align: left; white-space: normal;}
.tab-content .slider-wrapper table{width:100%;table-layout: fixed;}
.tab-content table{width: 100%}
.tab-content table th{text-align: center;padding-left: 10px;}
.tab-content table th a{color: #333;text-align: center;}
.tab-content table th a:hover{text-decoration: underline;}
.tab-content .elpTabViewAll{float: left;}
.tab-content .elipLinks{    width: 85%;
    margin: 0 20px;
    text-align: left;
    font-size: 12px;
    float: left;}
.tab-content .elipLinks a{color:#333}
.tab-content .elipLinks a:hover{text-decoration:underline}
td.bdrJq{border-bottom:1px #ccc solid;width:100%;position:absolute}
.pipeSign{border-right:1px #858383 solid;padding-left:3px;display:inline}
.className{width:400px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);overflow:hidden}
.tabWrap{width:100%;height:100%;padding:15px 0}
.slider-wrapper{width:100%;height:100%;overflow:hidden;border-radius:4px!important}
.slider{display:inline-block;white-space:nowrap}
.slider-item,.others{display:inline-block;position:relative;text-transform:uppercase;color:#333;line-height:250px;font-size:20px;text-align:center;border-radius:4px!important;transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.indicators{width:100%;position:absolute;bottom:-4px;z-index:2!important;text-align:center}
.indicators li{display:inline-block;margin-right:5px;width:10px;height:10px;font-size:16px;line-height:30px;border-radius:100%;text-align:center;background-color:#ccc;color:#333;text-indent:-9999px;cursor:pointer;transition:all .2s linear}
.indicators li:last-child{margin-right:0}
.active-indicator{background:#5ACDB5!important}
a:link,a:visited{text-decoration:none;color:#3496D9;cursor:pointer}
.clr{clear:both}
.middler{height:100%;width:0;display:inline-block;vertical-align:middle}