.tabs{background-color:#fff;border:1px solid #ccc;width:940px;overflow:hidden}
.inn-tabs{border:0}
.tab-list{border-bottom:1px solid #ccc;padding-left:0;margin:0;text-align: center;}
.tab-list-item{display:inline-block;list-style:none;margin-bottom:0;padding:.75rem;font-size:16px;color:#333;width:32%;text-align:center;border-bottom:2px solid;border-color:transparent}
.tab-list-active{color:#2980b9;font-weight:700;border-color:#2980b9}
.inn-tab-list-item{padding:10px 15px;width:100%;height:75px;border-left:1px solid #ccc;border-bottom:1px solid #ccc}
.inn-tab-list-item span{display:inline-block;vertical-align:middle;font-size:16px}
.inn-tab-list{list-style:none;float:right;margin:0;width:200px}
.inn-tab-content{position:absolute;top:0;width:80%;height:100%}
.inn-tab-list-active{background:#6cc;color:#fff;position:relative}
.inn-tab-list-active:before{content:'';width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;left:-10px;margin:auto;top:0;bottom:0;position:absolute;border-right:10px solid #6cc}
.tab-content{position:relative}
.ellipsList1 tr td{vertical-align:top;padding:10px 30px;font-size:14px;color:#000;width:33%;word-spacing:0}
.ellipsList1 tr td a span{font-size: 14px;display: inline-block;text-align: left; white-space: normal;}
.tab-content table{width:100%}
.tab-content .elpTabViewAll{display:inline-block}
.tab-content .elipLinks{width:85%;margin:0 20px;display:inline-block}
.tab-content .elipLinks a{color:#333}
.tab-content .elipLinks a:hover{text-decoration:underline}
td.bdrJq{border-bottom:1px #ccc solid;width:100%;display:inline-block;position:absolute}
.pipeSign{border-right:1px #858383 solid;padding-left:3px;display:inline}
.className{width:400px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);overflow:hidden}
.tabWrap{width:100%;height:100%;padding:15px 0}
.slider-wrapper{width:100%;height:100%;overflow:hidden;border-radius:4px!important}
.slider{display:inline-block;white-space:nowrap}
.slider-item,.others{display:inline-block;position:relative;text-transform:uppercase;color:#333;line-height:250px;font-size:20px;text-align:center;border-radius:4px!important;transition:all .2s linear}
.indicators{width:100%;position:absolute;bottom:-4px;z-index:2!important;text-align:center}
.indicators li{display:inline-block;margin-right:5px;width:10px;height:10px;font-size:16px;line-height:30px;border-radius:100%;text-align:center;background-color:#ccc;color:#333;text-indent:-9999px;cursor:pointer;transition:all .2s linear}
.indicators li:last-child{margin-right:0}
.active-indicator{background:#5ACDB5!important}
a:link,a:visited{text-decoration:none;color:#3496D9;cursor:pointer}
.clr{clear:both}
.middler{height:100%;width:0;display:inline-block;vertical-align:middle}