<div id="blueBand" class="headerFloatRight showi elipAdjst">
				   <div id="sBluBar" class="rel newBar hotArea showBlu" >
				      <i id="hot-area-projects" class="hdrIcn-ellipses iconS _showTip"></i>
				      <div id="sBluDrpWrap" >
				         <div class="ellip-tabs boxSize" >
				            <div id="newProjects" class="tabs12 ">
				               <div>Hot Projects</div>
				            </div>
				            <i class="iconS barV-Icon2 lf"></i>
				            <div id="hotProperties" class="tabs12">
				               <div>Hot Areas</div>
				            </div>
				         </div>
				         <table class="sBluDrp in0 jQ0 hide" >
				            <tbody>
				               <tr>
				                  <td>
				                     <a class="npdef_Links" href="https://setup2.infoedge.com/mahagun-moderne-sector-78-noida-npxid-r1161">Mahagun Moderne in Sector-78 Noida</a>
				                  </td>
				                  <td>
				                     <a class="npdef_Links" href="https://setup2.infoedge.com/krishna-cocus-homes-sector-110-noida-npxid-r236740">Krishna Cocus Homes in Sector-110 Noida</a>
				                  </td>
				                  <td>
				                  </td>
				               </tr>
				               <tr>
				                  <td>
				                  </td>
				                  <td>
				                  </td>
				                  <td>
				                  </td>
				               </tr>
				               <tr>
				                  <td>
				                  </td>
				                  <td>
				                  </td>
				                  <td>
				                  </td>
				               </tr>
				            </tbody>
				         </table>
				         <div class="sBluDrp in1 jQ1  hide newEllip" >
				            <div class="sDrpL">
				               <div class="actDrp">
				                  <div class="middler"></div>
				                  <div>
				                     <div trackval="BR">Property</div>
				                     <div>in Noida</div>
				                     <i class="arrRBig iconS arrRBig-Sel"></i>
				                  </div>
				               </div>
				               <div class="">
				                  <div class="middler"></div>
				                  <div>
				                     <div trackval="BR">Apartments</div>
				                     <div>in Noida</div>
				                     <i class="arrRBig iconS arrRBig-Sel"></i>
				                  </div>
				               </div>
				               <div class="">
				                  <div class="middler"></div>
				                  <div>
				                     <div trackval="BR">House/Villas</div>
				                     <div>in Noida</div>
				                     <i class="arrRBig iconS arrRBig-Sel"></i>
				                  </div>
				               </div>
				               <div class="">
				                  <div class="middler"></div>
				                  <div>
				                     <div trackval="BR">Popular</div>
				                     <div>Searches in Noida</div>
				                     <i class="arrRBig iconS arrRBig-Sel"></i>
				                  </div>
				               </div>
				            </div>
				            <div class="sDrpR in1 jQIn0 pdt20 dsplInBlck">
				               <div class="ellipCarouselFilm">
				                  <table class="ellipsList1" id="sliderButton-0-screen-1">
				                     <tbody>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/property-in-noida-extension-noida-ffid" >
				                              <span>Property in Noida Extension</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span  >
				                              <a href="https://setup2.infoedge.com/property-in-sector-121-noida-ffid"  >
				                              <span  >Property in sector-121 Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span>
				                              <a href="https://setup2.infoedge.com/property-in-sector-168-noida-ffid"  >
				                              <span  >Property in Sector-168 Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                        </tr>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/property-in-sector-107-noida-ffid"  >
				                              <span  >Property in Sector-107 Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                           </td>
				                           <td class="srpHotArea">
				                           </td>
				                        </tr>
				                     </tbody>
				                  </table>
				               </div>
				               <div id="sliderButton-0" class="ellipCarouselDots">
				                  <i id="sliderElip-0-0" class="slotbox-0 sel"></i>
				               </div>
				            </div>
				            <div class="sDrpR in1 jQIn1 pdt20">
				               <div class="ellipCarouselFilm">
				                  <table class="ellipsList1" id="sliderButton-1-screen-1">
				                     <tbody>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/residential-apartments-in-noida-extension-noida-ffid"  >
				                              <span  >Apartments in Noida Extension</span>
				                              </a>
				                              </span>
				                              <div class="srpHotArea_hvr">
				                                 <div>
				                                    <div>
				                                       <a class="dsbldbhkEl" href="javascript:void(0)">
				                                       1 BHK
				                                       </a>                    
				                                       <span >
				                                       <a class="" href="https://setup2.infoedge.com/2-bhk-residential-apartments-in-noida-extension-noida-ffid"  >
				                                       <span  >
				                                       2 BHK
				                                       </span>
				                                       </a></span>                    
				                                       <span >
				                                       <a class="" href="https://setup2.infoedge.com/3-bhk-residential-apartments-in-noida-extension-noida-ffid"  >
				                                       <span  >
				                                       3 BHK
				                                       </span>
				                                       </a></span>                    
				                                       <a class="dsbldbhkEl" href="javascript:void(0)">
				                                       4 BHK
				                                       </a>                    
				                                       <i class="genIcon tip-w-Arrow toolTU iconS"></i>
				                                    </div>
				                                 </div>
				                              </div>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/residential-apartments-in-sector-168-noida-ffid"  >
				                              <span  >Apartments in Sector-168 Noida</span>
				                              </a>
				                              </span>
				                              <div class="srpHotArea_hvr">
				                                 <div>
				                                    <div>
				                                       <a class="dsbldbhkEl" href="javascript:void(0)">
				                                       1 BHK
				                                       </a>                    
				                                       <span >
				                                       <a class="" href="https://setup2.infoedge.com/2-bhk-residential-apartments-in-sector-168-noida-ffid"  >
				                                       <span  >
				                                       2 BHK
				                                       </span>
				                                       </a></span>                    
				                                       <a class="dsbldbhkEl" href="javascript:void(0)">
				                                       3 BHK
				                                       </a>                    
				                                       <a class="dsbldbhkEl" href="javascript:void(0)">
				                                       4 BHK
				                                       </a>                    
				                                       <i class="genIcon tip-w-Arrow toolTU iconS"></i>
				                                    </div>
				                                 </div>
				                              </div>
				                           </td>
				                           <td class="srpHotArea">
				                           </td>
				                        </tr>
				                     </tbody>
				                  </table>
				               </div>
				               <div id="sliderButton-1" class="ellipCarouselDots">
				                  <i id="sliderElip-1-0" class="slotbox-1 sel"></i>
				               </div>
				            </div>
				            <div class="sDrpR in1 jQIn2 pdt20">
				               <div class="ellipCarouselFilm">
				               </div>
				               <div id="sliderButton-2" class="ellipCarouselDots">
				               </div>
				            </div>
				            <div class="sDrpR in1 jQIn3 pdt20">
				               <div class="ellipCarouselFilm">
				                  <table class="ellipsList1" id="sliderButton-3-screen-1">
				                     <tbody>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/residential-apartments-in-noida-ffid"  >
				                              <span  >Apartments in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/independent-house-in-noida-ffid"  >
				                              <span  >House in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/real-estate-agents-in-noida-ffid"  >
				                              <span  >Property Dealers in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                        </tr>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span>
				                              <a href="https://setup2.infoedge.com/new-projects-in-noida-ffid"  >
				                              <span  >New Projects in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/new-residential-apartments-in-noida-ffid"  >
				                              <span  > New Apartments in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/resale-residential-apartments-in-noida-ffid"  >
				                              <span  > Resale Apartments in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                        </tr>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/resale-independent-house-in-noida-ffid"  >
				                              <span  > Resale House in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/new-flats-in-noida-ffid"  >
				                              <span  > New Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/resale-flats-in-noida-ffid"  >
				                              <span  > Resale Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                        </tr>
				                     </tbody>
				                  </table>
				                  <table class="ellipsList1" id="sliderButton-3-screen-2">
				                     <tbody>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/ready-to-move-flats-apartments-in-noida-ffid"  >
				                              <span  >Ready to move Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/society-flats-apartments-in-noida-ffid"  >
				                              <span  >Society Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                              <span >
				                              <a href="https://setup2.infoedge.com/low-budget-flats-apartments-in-noida-ffid"  >
				                              <span  >Low budget Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                        </tr>
				                        <tr>
				                           <td class="srpHotArea">
				                              <span>
				                              <a href="https://setup2.infoedge.com/affordable-flats-apartments-in-noida-ffid"  >
				                              <span  >Affordable Flats in Noida</span>
				                              </a>
				                              </span>
				                           </td>
				                           <td class="srpHotArea">
				                           </td>
				                           <td class="srpHotArea">
				                           </td>
				                        </tr>
				                     </tbody>
				                  </table>
				               </div>
				               <div id="sliderButton-3" class="ellipCarouselDots">
				                  <i id="sliderElip-3-0" class="slotbox-3 sel"></i>
				                  <i id="sliderElip-3-1" class="slotbox-3 "></i>
				               </div>
				            </div>
				         </div>
				      </div>
				      <div class="_actOnTip mTool-Tip">
				         <div class="mTool-Tip-Content">
				            <div class="mTool-inCont" >Popular properties</div>
				            <i class="arrow-up_wSmall toolTpRotate hide" ></i>
				         </div>
				      </div>
				   </div>
				</div>
