.ysf{background:#fff;padding:8px;color:#333;text-align:left;border-bottom:1px #ccc solid;position:relative;float:none;width:100%}
.ysf-oneline{white-space:nowrap!important;overflow:scroll!important}
.ysf.col{width:100%}
.ysf h1{margin:0;padding:0;line-height:normal;font-size:10px;text-align:left;font-weight:400;/*float:left*/}
.ysf.col h1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.icn_blkUp{width:12px;height:7px;background-size:334px 334px;background-position:-216px -120px}
.ysf.col .icn_blkUp{width:12px;height:7px;background-size:334px 334px;background-position:-216px -128px}
.ysf.undrflw .icn_blkUp{display:none}
.ysf.undrflw h1{width:100%}
.ysf .colpse{float:right;width:15%;display:none}
.ysf h1.b{font-weight:600}
.fwn{font-weight:400}
.ysf .WebRupee{font-size:10px}