#askAnswer h6 {font-size:18px; padding:50px 0 14px;}
#askAnswer .block .heading {font-size:14px; padding:10px 0; font-weight:600;}
#askAnswer .block ul li {font-size:14px; padding-bottom:6px; padding-left:34px; margin:8px 0; background: no-repeat 0 3px;}
#askAnswer .block ul li .location {margin:5px 0; font-size:11px;}
#askAnswer .block ul li a {font-size:12px; color:#3498db; font-weight:600;}
#askAnswer .block .moreQuestions {font-weight:400; font-size:14px; color:#3498db;}
#askAnswer .block .blueSubmit {height:40px;}
#askAnswer textarea {width:635px; height:22px; padding-top:10px;}
#askAnswer .btn {margin-left:16px;}