#ham{background:#fff;position:fixed;z-index:3;top:0;width:80%;transition:left 300ms ease-in-out;height:100%;left:-100%;overflow: hidden;}
	#ham.in{left:0;}
	#ham .head{height:64px;padding: 0 10px;background-image: linear-gradient(-90deg, #3496D9 31%, #2980B7 100%);color:#fff;font-size: 0;}
	#ham .head #login-regiter{margin-left: 15px;vertical-align:middle;display:inline-block;font-size: 14px;font-weight: 600;}
	#ham .head #login-regiter:after{content: '';width: 0; height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #fff;vertical-align: middle;top: 0;left: 12px; position: relative;display: inline-block;transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
	#ham .head .userIconBox{width:32px;height: 32px;display:inline-block;vertical-align:middle;}
	#ham .head:before{vertical-align:middle;display:inline-block;height:100%;content:"";width:0;}
	#ham .hamContent{height:100%;position:relative;overflow:hidden;overflow-y:scroll;-webkit-overflow-scrolling: touch;padding-bottom: 180px;}
	#ham .hamContent ul{margin:0;padding:0;list-style:none;font-size:12px;}
	#ham .hamContent ul li{margin:0;list-style:none;position: relative;}
	#ham .hamContent ul li.active{background:#f9f9f9;border-left:4px #3496d9 solid;}
	#ham .hamContent ul li a{text-transform:capitalize;text-decoration:none;color:#333;padding:12px 12px 12px 25px;font-size:12px;font-weight:600;display:block;}
	#ham .hamContent ul li i + a{padding: 12px 12px 12px 35px;}
	#ham .hamContent .catName{border-top:1px #ececec solid;font-size: 0.625rem;padding: 0.1875rem 0.625rem;
    height: 20px;font-weight: 600;text-transform:uppercase;color:#999;}
	#ham .hamContent .footer{background: #f1f3f5;padding: 8px 30px; color: #666;font-size: 10px;position: fixed;bottom: 0;width: 80%;margin-bottom: 0; height: 50px;}
	#ham .hamContent .footer div{padding:0;text-align:left;margin-top: -8px;}
	#ham .hamContent .footer div a{margin-left: -10px;}

	#siteLinks, #hotProjects, .hotProjectsInCity, #hotAreas{position:absolute;width:100%;left:-100%;top:0;transition:left .5s ease-in-out;padding-bottom: 120px;}
	#siteLinks{left:0%;}

	#ham #hotAreas ul ul{display:none;}
	#ham .hotProjects .catName{border:0px;}
	#ham .hotProjects .quickLinks{font-size:12px;}
	#ham .hotProjects .quickLinksResidential{padding:10px;position: relative;}
	#ham .hotProjects .quickLinks.active{background:#f9f9f9;border-left:3px #3496d9 solid;}
	#ham .hotProjects .quickLinks a{text-decoration:none;color:#333;font-size: 0.75rem;font-weight: 600;}
	#ham .hotProjects .quickLinks a:first-child{display:inline-block;width:76%;padding:10px;}
	#ham .hotProjects .quickLinks a:last-child{display:inline-block;width:60px;text-align:center;border:1px #ececec solid;padding:2px 0.625rem;border-radius:2px;color:#3d9ddd;background:#fff;position:relative;float: right;margin-top: 8px;
    margin-right: 5px;}
	#ham .hotProjects .quickLinks a:last-child:before{width:4px;height:4px;content:"";display:inline-block;position:absolute;border:2px #3d9ddd solid;border-width: 2px 0 0 2px;transform: rotate(-45deg);left: 5px;
    top: 0;
    bottom: 0;
    margin: auto;}

    #ham .hotProjects ul li,#ham .hamContent ul.lognOpt li{border-bottom:1px #ececec solid;padding:0px;}
	#ham .hamContent ul.lognOpt.in{height: 85px;}
	#ham .hotProjects ul li a:first-child,#ham .hamContent ul.lognOpt li a:first-child{display:inline-block;width:78%;padding:10px 10px 10px 25px;}
	#ham .hotProjects ul li a:nth-child(2){color: #999;font-size: 0.625rem;display:inline-block;width:55px;text-align:center;border:1px #f3f5f9 solid;padding:2px;border-radius:2px;float:right;margin-right:5px;margin-top: 9px;}

	#ham .hotProjects.hotProjectsInCity ul li a:first-child{display:inline-block;text-align:left;width:100%;border:0;padding:0;border-radius:0;padding:10px;}

	#ham .hotProjects select{margin:10px 0;padding:10px; border: 0;background:#ececec;width:100%;border-radius:5px;-webkit-appearance:none;}
	.quickLinksResidential:after{     content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #666;
    vertical-align: middle;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: inline-block;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);;}


	#ham #hotAreas ul ul.in,#ham .hamContent ul.in{position:fixed;z-index:3;display:block;background:#fff;border-radius:5px;width:80%;left:0;margin:auto;height:170px;top:0;bottom:0;left:0;right:0;overflow:hidden;overflow-y:scroll;-webkit-overflow-scrolling: touch;}
	.quikLinkListResidential{display: none;}
	#ham .hamContent .lognOpt{display: none;}


	.hamContent i{    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 3px;}