/*************Header Tag***************/
header.mobHead{background:#3398db;height:50px;width:100%;border: 0;}
header.mobHead:before{display:inline-block;content:"";width:0;height:100%;vertical-align:middle;}
header.mobHead > div{display:inline-block;vertical-align:middle;}
header.mobHead > div:first-child{width:13%;text-align: center;}
header.mobHead .logo99{font-size:1.6rem;letter-spacing:-0.02em;font-weight:600;color:#fff;}
header.mobHead .logo99 a{text-decoration:none;color:#fff;}

header.hdrWhite{background:#fff;border-bottom:1px #ccc solid;}
header.hdrWhite .logo99{color:#333;font-size:1rem;}
header.hdrWhite .logo99 a{text-decoration:none;color:#333;}
/**/
/*Component has 1-view*/
.pd-headerTag {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 40px;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.pd-headerTag:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.pd-headerTag > div {
  width: 25%;
  vertical-align: middle;
  margin-left: 0;
  display: inline-block;
  height: 32px;
  text-align: center;
}
.pd-headerTag > div:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.pd-headerTag > div:first-child {
  margin-left: 0;
  width: 15%;
}
.pd-headerTag > div:nth-child(2) {
  margin-left: 0;
  width: 40%;
}
.pd-headerTag > div:nth-child(3) {
  margin-left: 0;
  width: 15%;
}
.pd-headerTag > div:nth-child(4) {
  margin-left: 0;
  width: 15%;
}
.pd-headerTag > div:nth-child(5) {
  margin-left: 0;
  width: 15%;
}
.pd-headerTag .priceAndSize {
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  transition: all 1s ease-in-out;
  opacity: 0;
}
/**/
/*View*/
.headerBackground {
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
/*************Header Tag***************/


/*-------------------------Hamburger icon-----------------------------*/
.icn_ham {
    background-position: -72px 0;
}
.bgSize24_c {
    background-size: 360px 48px;
    width: 24px;
    height: 24px;
}
[data-imgCommon], [data-imgHomeSp] {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
[data-imgCommon] {
    background-image: url(https://www.99acres.com/pwa/public/css/pwa/public/images/PWA_common.png);
}