@media (min-width:320px) and (max-width:760px) {
  .pdBlock#features ul {margin-top:.625rem; color:#666; font-weight:600;}
  .pdBlock#features ul li {width:30.65%; text-align:center; overflow:hidden; font-size:.75rem; background:#f7f8fa; display:inline-block; padding:20px 10px 10px 10px; margin-bottom:.7375rem;}
  .pdBlock#features ul li div {margin-top:.5rem; height:35px; line-height:12px; font-size:.625rem;}
  .pdBlock#features ul li:nth-child(3n+2) {margin-left:.75rem; margin-right:.75rem;}
}

@media (min-width:761px) {  
  .pdBlock#features ul li {width:16.666666%; display:inline-block; vertical-align:top; margin:15px 0;}
  .pdBlock#features ul li i {margin-right:8px; float:left; width:22px; height:22px;}
  .pdBlock#features ul li div {margin-left:29px; display:block; margin-top:-3px; padding-right:20px;}
}